<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.system.dao.mc.RelateMapper">
 
  <select id="selectRelate" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  		select count(1) from ${relate.tabalName}  
  		<where>
  			 <foreach collection="relate.fieldName.split(',')" item="field" index="index" >
		 		OR ${field} IN 
		 		 <foreach collection="delList" item="delId" index="index2"  open="(" separator="," close=")">
		 		 ${delId}
		 		 </foreach>
     		</foreach>  
  		</where>
  </select>
  
  
</mapper>