<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 机构信息sql -->

<mapper namespace="com.sunyard.ars.system.dao.et.EtDataStatisticsMapper" >
    
    <update id="updateStatistic" parameterType="java.util.HashMap">
        UPDATE
        ARMS_ENTRYDATA_STATISTICS A
        SET
        A.IS_HANDLE = (A.IS_HANDLE + DECODE(#{dealState,jdbcType=VARCHAR}, '1', 0, 1)),
        A.IS_TRANS_HANDLED = (A.IS_TRANS_HANDLED + DECODE(#{dealState,jdbcType=VARCHAR}, '1', 1, 0))
        WHERE
        ENTRY_ID = #{modelId,jdbcType=VARCHAR} AND
        BUSI_ORGAN = #{organNo,jdbcType=VARCHAR} AND
        PROC_DATE = #{procDate,jdbcType=VARCHAR}
    </update>

    <select id="spArmsEntrydataHs"  parameterType="java.util.HashMap"  statementType="CALLABLE">
        {call SP_ARMS_ENTRYDATA_HS(
        #{modelId,jdbcType=VARCHAR},
        #{organNo,jdbcType=VARCHAR},
        #{procDate,jdbcType=VARCHAR}
        )}
    </select>

	<select id="selectCountSame"  parameterType="java.util.HashMap"  resultType="java.lang.Integer">
        select count(1) from ${tableName} T
        <where>
        	<if test="bankcode != null and bankcode != '' ">
	            AND bankcode = #{bankcode,jdbcType=VARCHAR}
	        </if>
	        <if test="operatorNo != null and operatorNo != '' ">
	            AND TELLER = #{operatorNo,jdbcType=VARCHAR}
	        </if>
	        <if test="acctNo != null and acctNo != '' ">
	            AND ACCT_NO = #{acctNo,jdbcType=VARCHAR}
	        </if>
	        <if test="occurDate != null and occurDate != '' ">
	            AND PROC_DATE = #{occurDate,jdbcType=VARCHAR}
	        </if>
	        <if test="modelIdList != null and modelIdList.size != 0">
		      AND T.ENTRY_ID in
				<foreach collection="modelIdList" item="modelIdMap" index="index" open="(" close=")" separator="," >
					#{modelIdMap.MODEL_ID}
				</foreach>
		    </if>
	        and EXISTS (SELECT 1
		                  FROM MC_ORGAN_MODEL_TB OM
		                 WHERE OM.MODEL_ID = T.ENTRY_ID
		                   AND OM.ORGAN_NO = #{organNo,jdbcType=VARCHAR})
        </where>
    </select>
</mapper>