<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.system.dao.et.EtProcessTbMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.ars.system.bean.et.EtProcessTb">
    <id column="FORM_ID" jdbcType="VARCHAR" property="formId" />
    <id column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="FORM_TYPE" jdbcType="VARCHAR" property="formType" />
    <result column="NODE_NO" jdbcType="VARCHAR" property="nodeNo" />
    <result column="PRE_NODE_NO" jdbcType="VARCHAR" property="preNodeNo" />
    <result column="DEAL_ORGAN_NO" jdbcType="VARCHAR" property="dealOrganNo" />
    <result column="DEAL_ORGAN_NAME" jdbcType="VARCHAR" property="dealOrganName" />
    <result column="DEAL_USER_NO" jdbcType="VARCHAR" property="dealUserNo" />
    <result column="DEAL_USER_NAME" jdbcType="VARCHAR" property="dealUserName" />
    <result column="DEAL_DATE" jdbcType="VARCHAR" property="dealDate" />
    <result column="DEAL_DESCRIPTION" jdbcType="VARCHAR" property="dealDescription" />
    <result column="DEAL_RESULT_TEXT" jdbcType="VARCHAR" property="dealResultText" />
    <result column="LABEL_PROCESS" jdbcType="VARCHAR" property="labelProcess" />
    <result column="PROCESS_SHOW_LEVEL" jdbcType="VARCHAR" property="processShowLevel" />
    <result column="BACK_DATE" jdbcType="VARCHAR" property="backDate" />
    <result column="OVER_FLAG" jdbcType="VARCHAR" property="overFlag" />
    <result column="RISK_SOURCE_REMAK" jdbcType="VARCHAR" property="riskSourceRemark" />
    <result column="RISK_SOURCE_NAME" jdbcType="VARCHAR" property="riskSourceName" />
    <result column="RISK_SOURCE_TYPE" jdbcType="VARCHAR" property="riskSourceType" />
    <result column="RISK_SOURCE_NO" jdbcType="VARCHAR" property="riskSourceNo" />
  </resultMap>
  <sql id="Base_Column_List">
    FORM_ID, CREATE_TIME, FORM_TYPE, NODE_NO, PRE_NODE_NO, DEAL_ORGAN_NO, DEAL_ORGAN_NAME, 
    DEAL_USER_NO, DEAL_USER_NAME, DEAL_DATE, DEAL_DESCRIPTION, DEAL_RESULT_TEXT, LABEL_PROCESS, 
    PROCESS_SHOW_LEVEL,  BACK_DATE, OVER_FLAG,RISK_SOURCE_REMAK,RISK_SOURCE_NAME,RISK_SOURCE_TYPE,RISK_SOURCE_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ET_PROCESS_TB
    <where>
      <if test="dealUserNo != null and dealUserNo != ''">
        AND DEAL_USER_NO = #{dealUserNo,jdbcType=VARCHAR}
      </if>
      <if test="nodeNo != null and nodeNo != ''">
        AND NODE_NO = #{nodeNo,jdbcType=VARCHAR}
      </if>
      <if test="formType != null and formType != ''">
        AND　FORM_TYPE = #{formType,jdbcType=VARCHAR}
      </if>
      <if test="formId != null and formId != ''">
        AND　FORM_ID = #{formId,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY CREATE_TIME desc
  </select>
  
  <insert id="insertSelective" parameterType="com.sunyard.ars.system.bean.et.EtProcessTb">
    insert into ET_PROCESS_TB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        FORM_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="formType != null">
        FORM_TYPE,
      </if>
      <if test="nodeNo != null">
        NODE_NO,
      </if>
      <if test="preNodeNo != null">
        PRE_NODE_NO,
      </if>
      <if test="dealOrganNo != null">
        DEAL_ORGAN_NO,
      </if>
      <if test="dealOrganName != null">
        DEAL_ORGAN_NAME,
      </if>
      <if test="dealUserNo != null">
        DEAL_USER_NO,
      </if>
      <if test="dealUserName != null">
        DEAL_USER_NAME,
      </if>
      <if test="dealDate != null">
        DEAL_DATE,
      </if>
      <if test="dealDescription != null">
        DEAL_DESCRIPTION,
      </if>
      <if test="dealResultText != null">
        DEAL_RESULT_TEXT,
      </if>
      <if test="labelProcess != null">
        LABEL_PROCESS,
      </if>
      <if test="processShowLevel != null">
        PROCESS_SHOW_LEVEL,
      </if>
      <if test="backDate != null">
        BACK_DATE,
      </if>
      <if test="overFlag != null">
        OVER_FLAG,
      </if>
      <if test="riskSourceNo != null">
        RISK_SOURCE_NO,
      </if>
      <if test="riskSourceType != null">
        RISK_SOURCE_TYPE,
      </if>
      <if test="riskSourceName != null">
        RISK_SOURCE_NAME,
      </if>
      <if test="riskSourceRemark != null">
        RISK_SOURCE_REMAK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="formType != null">
        #{formType,jdbcType=VARCHAR},
      </if>
      <if test="nodeNo != null">
        #{nodeNo,jdbcType=VARCHAR},
      </if>
      <if test="preNodeNo != null">
        #{preNodeNo,jdbcType=VARCHAR},
      </if>
      <if test="dealOrganNo != null">
        #{dealOrganNo,jdbcType=VARCHAR},
      </if>
      <if test="dealOrganName != null">
        #{dealOrganName,jdbcType=VARCHAR},
      </if>
      <if test="dealUserNo != null">
        #{dealUserNo,jdbcType=VARCHAR},
      </if>
      <if test="dealUserName != null">
        #{dealUserName,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null">
        #{dealDate,jdbcType=VARCHAR},
      </if>
      <if test="dealDescription != null">
        #{dealDescription,jdbcType=VARCHAR},
      </if>
      <if test="dealResultText != null">
        #{dealResultText,jdbcType=VARCHAR},
      </if>
      <if test="labelProcess != null">
        #{labelProcess,jdbcType=VARCHAR},
      </if>
      <if test="processShowLevel != null">
        #{processShowLevel,jdbcType=VARCHAR},
      </if>      
      <if test="backDate != null">
        #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="overFlag != null">
        #{overFlag,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceNo != null">
        #{riskSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceType != null">
        #{riskSourceType,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceName != null">
        #{riskSourceName,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceRemark != null">
        #{riskSourceRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.ars.system.bean.et.EtProcessTb">
    update ET_PROCESS_TB
    <set>
      <if test="formType != null">
        FORM_TYPE = #{formType,jdbcType=VARCHAR},
      </if>
      <if test="nodeNo != null">
        NODE_NO = #{nodeNo,jdbcType=VARCHAR},
      </if>
      <if test="preNodeNo != null">
        PRE_NODE_NO = #{preNodeNo,jdbcType=VARCHAR},
      </if>
      <if test="dealOrganNo != null">
        DEAL_ORGAN_NO = #{dealOrganNo,jdbcType=VARCHAR},
      </if>
      <if test="dealOrganName != null">
        DEAL_ORGAN_NAME = #{dealOrganName,jdbcType=VARCHAR},
      </if>
      <if test="dealUserNo != null">
        DEAL_USER_NO = #{dealUserNo,jdbcType=VARCHAR},
      </if>
      <if test="dealUserName != null">
        DEAL_USER_NAME = #{dealUserName,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null">
        DEAL_DATE = #{dealDate,jdbcType=VARCHAR},
      </if>
      <if test="dealDescription != null">
        DEAL_DESCRIPTION = #{dealDescription,jdbcType=VARCHAR},
      </if>
      <if test="dealResultText != null">
        DEAL_RESULT_TEXT = #{dealResultText,jdbcType=VARCHAR},
      </if>
      <if test="labelProcess != null">
        LABEL_PROCESS = #{labelProcess,jdbcType=VARCHAR},
      </if>
      <if test="processShowLevel != null">
        PROCESS_SHOW_LEVEL = #{processShowLevel,jdbcType=VARCHAR},
      </if>
      <if test="backDate != null">
        BACK_DATE = #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="overFlag != null">
        OVER_FLAG = #{overFlag,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceNo != null">
        RISK_SOURCE_NO = #{riskSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceType != null">
        RISK_SOURCE_TYPE = #{riskSourceType,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceName != null">
        RISK_SOURCE_NAME = #{riskSourceName,jdbcType=VARCHAR},
      </if>
      <if test="riskSourceRemark != null">
        RISK_SOURCE_REMAK = #{riskSourceRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where FORM_ID = #{formId,jdbcType=VARCHAR}
      and CREATE_TIME = #{createTime,jdbcType=VARCHAR}
  </update>
  
  <select id="getProcesses" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ET_PROCESS_TB
    where FORM_ID = #{formId,jdbcType=VARCHAR}
    ORDER BY CREATE_TIME,DEAL_USER_NO
  </select>
  
  <select id="getProcessByDealResult" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ET_PROCESS_TB T
    where SUBSTR(T.DEAL_RESULT_TEXT, 1, INSTR(T.DEAL_RESULT_TEXT, '-') - 1) = #{nodeNo,jdbcType=VARCHAR}
    and FORM_ID = #{formId,jdbcType=VARCHAR} AND DEAL_USER_NO = #{userNo,jdbcType=VARCHAR}
    ORDER BY CREATE_TIME DESC
  </select>
  
  
   <select id="getEtProcessTbForId" resultType="java.util.HashMap">
        SELECT deal_date
		  FROM ET_PROCESS_TB T
		 WHERE T.FORM_ID = #{formId,jdbcType=VARCHAR}
		   AND EXISTS (SELECT 1
		          FROM SM_ORGAN_TB ORG
		         WHERE ORG.ORGAN_NO = T.DEAL_ORGAN_NO
		           AND ORG.ORGAN_LEVEL = 4)
		 ORDER BY T.CREATE_TIME DESC
 	</select>
 
    <update id="updateBackProcess" parameterType="java.util.HashMap" databaseId="oracle">
	    UPDATE ET_PROCESS_TB T
		   SET T.NEXT_DEAL_DATE = TO_CHAR(SYSDATE, 'yyyymmdd'),
		       T.NEXT_DEAL_USER = #{userNo,jdbcType=VARCHAR},
		       T.DEAL_ORGAN     = #{organNo,jdbcType=VARCHAR},
		       T.OVER_DAYS      = SP_GET_OVER_WORKDAYS2(T.BACK_DATE,TO_CHAR(SYSDATE, 'YYYYMMDD')),
		       T.OVER_FLAG = (CASE
		                       WHEN TRUNC(SYSDATE) > TO_DATE(#{backDate,jdbcType=VARCHAR}, 'YYYYMMDD') THEN
		                        '1'
		                       ELSE
		                        '0'
		                     END)
		 WHERE T.NEXT_DEAL_DATE = '99991231'
		   AND SUBSTR(T.DEAL_RESULT_TEXT, 1, 2) = #{nodeNo,jdbcType=VARCHAR}
		   AND T.FORM_ID = #{formId,jdbcType=VARCHAR}
	</update>

    <update id="updateBackProcess" parameterType="java.util.HashMap" databaseId="db2">
	    UPDATE ET_PROCESS_TB T
		   SET T.NEXT_DEAL_DATE = TO_CHAR(SYSDATE, 'yyyymmdd'),
		       T.NEXT_DEAL_USER = #{userNo,jdbcType=VARCHAR},
		       T.DEAL_ORGAN     = #{organNo,jdbcType=VARCHAR},
		       T.OVER_DAYS      = (select SP_GET_OVER_WORKDAYS2(T.BACK_DATE,TO_CHAR(SYSDATE, 'YYYYMMDD')) from sysibm.sysdummy1 ),
		       T.OVER_FLAG = (CASE
		                       WHEN TRUNC(SYSDATE) > TO_DATE(#{backDate,jdbcType=VARCHAR}, 'YYYYMMDD') THEN
		                        '1'
		                       ELSE
		                        '0'
		                     END)
		 WHERE T.NEXT_DEAL_DATE = '99991231'
		   AND SUBSTR(T.DEAL_RESULT_TEXT, 1, 2) = #{nodeNo,jdbcType=VARCHAR}
		   AND T.FORM_ID = #{formId,jdbcType=VARCHAR}
	</update>

 	<select id="getProcessByDoNode" parameterType="map" resultMap="BaseResultMap">
	    select <include refid="Base_Column_List" /> from ET_PROCESS_TB T
	    where SUBSTR(T.DEAL_RESULT_TEXT, 1, INSTR(T.DEAL_RESULT_TEXT, '-') - 1) = #{nodeNo,jdbcType=VARCHAR}
	    and FORM_ID = #{formId,jdbcType=VARCHAR}
	    ORDER BY CREATE_TIME DESC
    </select>
    
    <update id="updateProcessOverInfo" parameterType="java.util.HashMap">
	    UPDATE ET_PROCESS_TB T
		   SET T.OVER_FLAG = '1',
		     T.OVER_DAYS = SP_GET_OVER_WORKDAYS2(T.BACK_DATE,TO_CHAR(SYSDATE, 'YYYYMMDD'))
		 WHERE T.NEXT_DEAL_USER IS NULL
		   AND T.BACK_DATE <![CDATA[<]]> TO_CHAR(SYSDATE, 'YYYYMMDD')
		   AND T.NEXT_DEAL_DATE = '99991231'  
		   AND T.FORM_ID = #{formId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateProcessOverToBusiform" parameterType="java.util.HashMap">
	    begin
	    	UPDATE ET_BUSIFORM_TB T
			   SET (T.PAR_OVER_DAYS, T.PAR_OVER_BACK_DATE, T.PAR_DEAL_DATE,T.ORG_DEAL_DATE,PAR_OVER_FLAG,PAR_OVER_USER_NO) =
			       (select SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			                  A.NEXT_DEAL_DATE || A.DEAL_DATE || A.NEXT_DEAL_USER),
			            1,
			            4),
			         '99991231' - SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			          A.NEXT_DEAL_DATE || A.DEAL_DATE || A.NEXT_DEAL_USER),
			            5,
			            8),
			         SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			          A.NEXT_DEAL_DATE || A.DEAL_DATE || A.NEXT_DEAL_USER),
			            13,
			            8),
			         SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			          A.NEXT_DEAL_DATE || A.DEAL_DATE || A.NEXT_DEAL_USER),
			            21,
			            8),
			         SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			          A.NEXT_DEAL_DATE || A.DEAL_DATE || X.ROLE_TYPE),
			            29),
			         SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			          A.NEXT_DEAL_DATE || A.DEAL_DATE || A.NEXT_DEAL_USER),
			            29)
			      FROM ET_PROCESS_TB A left join ARMS_WORKFLOW_NODE X
			      on A.FORM_TYPE = X.FORM_TYPE
			       AND SUBSTR(A.DEAL_RESULT_TEXT, 1, 2) = X.NODE_CODE
			         WHERE T.FORM_ID = A.FORM_ID
			       AND X.ROLE_TYPE in ('jcy','zg')
			           AND A.OVER_FLAG = '1'
			           AND A.FORM_ID = #{formId,jdbcType=VARCHAR})
			 WHERE EXISTS (SELECT 1
			          FROM ET_PROCESS_TB S
			         WHERE T.FORM_ID = S.FORM_ID
			           AND S.OVER_FLAG = '1')
			   AND T.FORM_ID = #{formId,jdbcType=VARCHAR};
			
			UPDATE ET_BUSIFORM_TB T
			   SET (T.OVER_DAYS,OVER_BACK_DATE, OVER_DEAL_DATE,OVERDUE_FLAG_3,OVER_USER_NO) =
			       (SELECT SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			                  A.NEXT_DEAL_DATE || A.NEXT_DEAL_USER),
			                      1,
			                      4),
			         '99991231' - SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			                  A.NEXT_DEAL_DATE || A.NEXT_DEAL_USER),
			                      5,
			                      8),
			         SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			                  A.NEXT_DEAL_DATE || A.NEXT_DEAL_USER),
			                      13,
			                      8),
			               count(1),
			               SUBSTR(MAX(LPAD(A.OVER_DAYS, 4, '0') || ('99991231' - A.BACK_DATE) ||
			                  A.NEXT_DEAL_DATE || A.NEXT_DEAL_USER),
			               21)
			      FROM ET_PROCESS_TB A left join ARMS_WORKFLOW_NODE X
			      	on A.FORM_TYPE = X.FORM_TYPE
			      	AND SUBSTR(A.DEAL_RESULT_TEXT, 1, 2) = X.NODE_CODE
			      WHERE T.FORM_ID = A.FORM_ID
			       AND X.ROLE_TYPE = 'hcy'
			       AND A.OVER_FLAG = '1'
			       AND A.FORM_ID = #{formId,jdbcType=VARCHAR})
			 WHERE EXISTS (SELECT 1
			          FROM ET_PROCESS_TB S
			         WHERE T.FORM_ID = S.FORM_ID
			           AND S.OVER_FLAG = '1')
			   AND T.FORM_ID = #{formId,jdbcType=VARCHAR};
	    end;
	</update>
</mapper>