<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.system.dao.et.ProcessLineMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.ars.system.bean.et.ProcessLineBean">
    <result column="BOFORE_NODE_NO" jdbcType="VARCHAR" property="boforeNodeNo" />
    <result column="AFTER_NODE_NO" jdbcType="VARCHAR" property="afterNodeNo" />
    <result column="NODE_CONTENT" jdbcType="VARCHAR" property="nodeContent" />
    <result column="IS_DEFAULT_SELECT" jdbcType="VARCHAR" property="isDefaultSelect" />
    <result column="TRANSFER_METHOD" jdbcType="VARCHAR" property="transferMethod" />
    <result column="FLOW_CHART" jdbcType="VARCHAR" property="flowChart" />
    <result column="LINE_ROLES" jdbcType="VARCHAR" property="roles" />
  </resultMap>
  <sql id="Base_Column_List">
    BOFORE_NODE_NO,AFTER_NODE_NO,NODE_CONTENT,IS_DEFAULT_SELECT,TRANSFER_METHOD,FLOW_CHART,LINE_ROLES
  </sql>
    
  <select id="selectLineByKey" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select BOFORE_NODE_NO,AFTER_NODE_NO,NODE_CONTENT,IS_DEFAULT_SELECT,TRANSFER_METHOD,FLOW_CHART,LINE_ROLES
    from sm_process_line_tb
    <where>
    	<if test="boforeNodeNo != null">
	        and BOFORE_NODE_NO=#{boforeNodeNo,jdbcType=VARCHAR}
	    </if>
	    <if test="afterNodeNo != null">
	        and AFTER_NODE_NO=#{afterNodeNo,jdbcType=VARCHAR}
	    </if>
	    <if test="flowChart != null">
	        and FLOW_CHART=#{flowChart,jdbcType=VARCHAR}
	    </if>
    </where> 
    order by FLOW_CHART
  </select>
  
  <select id="selectBySelective"  parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from sm_process_line_tb
  	<where>
    	<if test="boforeNodeNo != null">
	        and BOFORE_NODE_NO=#{boforeNodeNo,jdbcType=VARCHAR}
	    </if>
	    <if test="afterNodeNo != null">
	        and AFTER_NODE_NO=#{afterNodeNo,jdbcType=VARCHAR}
	    </if>
	    <if test="flowChart != null">
	        and FLOW_CHART=#{flowChart,jdbcType=VARCHAR}
	    </if>
    </where> 
    order by FLOW_CHART
  </select>
</mapper>