<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.file.dao.oa.FlowAllMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.ars.file.pojo.oa.FlowAll">
    <id column="SEQ_ID" jdbcType="DECIMAL" property="seqId" />
    <result column="OCCUR_DATE" jdbcType="VARCHAR" property="occurDate" />
    <result column="OCCUR_TIME" jdbcType="VARCHAR" property="occurTime" />
    <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId" />
    <result column="SITE_NO" jdbcType="VARCHAR" property="siteNo" />
    <result column="OPERATOR_NO" jdbcType="VARCHAR" property="operatorNo" />
    <result column="GRANT_NO" jdbcType="VARCHAR" property="grantNo" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="VOUH_NO" jdbcType="VARCHAR" property="vouhNo" />
    <result column="OPP_ACCT" jdbcType="VARCHAR" property="oppAcct" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="TX_CODE" jdbcType="VARCHAR" property="txCode" />
    <result column="SUBJECT_NO" jdbcType="VARCHAR" property="subjectNo" />
    <result column="CD_FLAG" jdbcType="VARCHAR" property="cdFlag" />
    <result column="CURRENCY_TYPE" jdbcType="VARCHAR" property="currencyType" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="CLIENT_NAME" jdbcType="VARCHAR" property="clientName" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="CHECK_FLAG" jdbcType="VARCHAR" property="checkFlag" />
    <result column="LSERIAL_NO" jdbcType="VARCHAR" property="lserialNo" />
    <result column="CITY_NO" jdbcType="VARCHAR" property="cityNo" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="ACCT_NAME" jdbcType="VARCHAR" property="acctName" />
    <result column="TABLEFROM" jdbcType="VARCHAR" property="tablefrom" />
    <result column="EX_SERIAL" jdbcType="VARCHAR" property="exSerial" />
    <result column="OPP_CLIENT_NAME" jdbcType="VARCHAR" property="oppClientName" />
    <result column="WORKCODE" jdbcType="VARCHAR" property="workcode" />
    <result column="NEW_ACCOUNT" jdbcType="VARCHAR" property="newAccount" />
    <result column="PRODCODE" jdbcType="VARCHAR" property="prodcode" />
    <result column="PRODNBR" jdbcType="VARCHAR" property="prodnbr" />
    <result column="SERVCODE" jdbcType="VARCHAR" property="servcode" />
    <result column="TX_NAME" jdbcType="VARCHAR" property="txName" />
    <result column="PAYINTAMT" jdbcType="DECIMAL" property="payintamt" />
    <result column="GETINTAMT" jdbcType="DECIMAL" property="getintamt" />
    <result column="T_CHKNO" jdbcType="VARCHAR" property="tChkno" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="EXECUTE_RATE" jdbcType="VARCHAR" property="executeRate" />
    <result column="LOAN_NO" jdbcType="VARCHAR" property="loanNo" />
    <result column="VCHR_NO" jdbcType="VARCHAR" property="vchrNo" />
    <result column="VCHR_TYPE" jdbcType="VARCHAR" property="vchrType" />
    <result column="AUTH_OPER" jdbcType="VARCHAR" property="authOper" />
    <result column="ASSO_SERIAL" jdbcType="VARCHAR" property="assoSerial" />
    <result column="ASSO_DATE" jdbcType="DECIMAL" property="assoDate" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="CLIENT_RISK" jdbcType="DECIMAL" property="clientRisk" />
    <result column="TARG_BANK_ACC" jdbcType="VARCHAR" property="targBankAcc" />
    <result column="DIV_MODE" jdbcType="VARCHAR" property="divMode" />
    <result column="LARG_RED_FLAG" jdbcType="VARCHAR" property="largRedFlag" />
    <result column="VOL" jdbcType="DECIMAL" property="vol" />
    <result column="UNIT_NO" jdbcType="VARCHAR" property="unitNo" />
    <result column="REM_SRL_NUM" jdbcType="VARCHAR" property="remSrlNum" />
    <result column="UPD_FLAG" jdbcType="VARCHAR" property="updFlag" />
    <result column="CUSTOMER_TYPE" jdbcType="VARCHAR" property="customerType" />
    <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType" />
    <result column="TRANS_ACCOUNT" jdbcType="VARCHAR" property="transAccount" />
    <result column="JNRST_RATE" jdbcType="VARCHAR" property="jnrstRate" />
    <result column="JNRST_CHQ_DAYS" jdbcType="VARCHAR" property="jnrstChqDays" />
    <result column="JNRST_ACC_TYPE" jdbcType="VARCHAR" property="jnrstAccType" />
    <result column="GL_CLASS_CODE" jdbcType="VARCHAR" property="glClassCode" />
    <result column="GLASS_CODE" jdbcType="VARCHAR" property="glassCode" />
    <result column="OLD_SITENO" jdbcType="VARCHAR" property="oldSiteNo" />
    <result column="OLD_OPERATORNO" jdbcType="VARCHAR" property="oldOperatorNo" />
    <result column="RECORD_TYPE" jdbcType="VARCHAR" property="recordType" />
    <result column="RECORD_TIME" jdbcType="VARCHAR" property="recordTime" />
    <result column="ARCHIVE_DATE" jdbcType="VARCHAR" property="archiveDate" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQ_ID, OCCUR_DATE, OCCUR_TIME, FLOW_ID, SITE_NO, OPERATOR_NO, GRANT_NO, ACCOUNT, 
    VOUH_NO, OPP_ACCT, AMOUNT, BALANCE, TX_CODE, SUBJECT_NO, CD_FLAG, CURRENCY_TYPE, 
    CUSTOMER_ID, CLIENT_NAME, DATA_FLAG, CHECK_FLAG, LSERIAL_NO, CITY_NO, MEMO, ACCT_NAME, 
    TABLEFROM, EX_SERIAL, OPP_CLIENT_NAME, WORKCODE, NEW_ACCOUNT, PRODCODE, PRODNBR, 
    SERVCODE, TX_NAME, PAYINTAMT, GETINTAMT, T_CHKNO, CODE, EXECUTE_RATE, LOAN_NO, VCHR_NO, 
    VCHR_TYPE, AUTH_OPER, ASSO_SERIAL, ASSO_DATE, CARD_NO, CLIENT_RISK, TARG_BANK_ACC, 
    DIV_MODE, LARG_RED_FLAG, VOL, UNIT_NO, REM_SRL_NUM,UPD_FLAG,CUSTOMER_TYPE,TRANS_TYPE,TRANS_ACCOUNT,
    JNRST_RATE,JNRST_CHQ_DAYS,JNRST_ACC_TYPE,GL_CLASS_CODE,GLASS_CODE,OLD_SITENO,OLD_OPERATORNO,
    RECORD_TYPE,RECORD_TIME,ARCHIVE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FL_FLOW_TB_2
    where SEQ_ID = #{seqId,jdbcType=DECIMAL}
  </select>
  
  <select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    select 
    <include refid="Base_Column_List" />
	  from FL_FLOW_TB_2
	<where> 
	    <if test="flowIdLike != null and flowIdLike != ''">
	        and FLOW_ID like #{flowIdLike,jdbcType=VARCHAR}
	    </if>
	      <if test="accountLike != null and accountLike != ''">
	        and ACCOUNT like #{accountLike,jdbcType=VARCHAR}
	    </if>
	    <if test="flowId != null and flowId != ''">
	        and FLOW_ID=#{flowId,jdbcType=VARCHAR}
	    </if>
	    <if test="checkFlag != null and checkFlag != ''">
	        and CHECK_FLAG=#{checkFlag,jdbcType=VARCHAR}
	    </if>
	    <if test="operatorNo != null and operatorNo != ''">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNos != null">
			AND
			<foreach collection="siteNos" item="siteNo" open="(" separator="OR" close=")">
			  	SITE_NO IN 
			  	<foreach collection="siteNo" item="site" open="(" separator="," close=")">
			  		#{site}
			  	</foreach>
			</foreach>
		</if>
	    <if test="txCode != null and txCode != ''">
	        and tx_code=#{txCode,jdbcType=VARCHAR}
	    </if>
	        <if test="checkFlag != null and checkFlag != ''">
	        and CHECK_FLAG=#{checkFlag,jdbcType=VARCHAR}
	    </if>
	       <if test="occurDateS != null and occurDateS != ''">
	        and occur_date &gt;= #{occurDateS,jdbcType=VARCHAR}
	    </if>
	       <if test="occurDateE != null and occurDateE != ''">
	        and occur_date &lt;= #{occurDateE,jdbcType=VARCHAR}
	    </if>
	</where>
  </select> 
  
  </mapper>
  
 