<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.common.dao.FlowMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.ars.common.pojo.Flow">
    <id column="SEQ_ID" jdbcType="DECIMAL" property="seqId" />
    <result column="OCCUR_DATE" jdbcType="VARCHAR" property="occurDate" />
    <result column="OCCUR_TIME" jdbcType="VARCHAR" property="occurTime" />
    <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId" />
    <result column="SITE_NO" jdbcType="VARCHAR" property="siteNo" />
    <result column="OPERATOR_NO" jdbcType="VARCHAR" property="operatorNo" />
    <result column="GRANT_NO" jdbcType="VARCHAR" property="grantNo" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="VOUH_NO" jdbcType="VARCHAR" property="vouhNo" />
    <result column="OPP_ACCT" jdbcType="VARCHAR" property="oppAcct" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="BALANCE" jdbcType="DECIMAL" property="balance" />
    <result column="TX_CODE" jdbcType="VARCHAR" property="txCode" />
    <result column="SUBJECT_NO" jdbcType="VARCHAR" property="subjectNo" />
    <result column="CD_FLAG" jdbcType="VARCHAR" property="cdFlag" />
    <result column="CURRENCY_TYPE" jdbcType="VARCHAR" property="currencyType" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="CLIENT_NAME" jdbcType="VARCHAR" property="clientName" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="CHECK_FLAG" jdbcType="VARCHAR" property="checkFlag" />
    <result column="LSERIAL_NO" jdbcType="VARCHAR" property="lserialNo" />
    <result column="CITY_NO" jdbcType="VARCHAR" property="cityNo" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="ACCT_NAME" jdbcType="VARCHAR" property="acctName" />
    <result column="TABLEFROM" jdbcType="VARCHAR" property="tablefrom" />
    <result column="EX_SERIAL" jdbcType="VARCHAR" property="exSerial" />
    <result column="OPP_CLIENT_NAME" jdbcType="VARCHAR" property="oppClientName" />
    <result column="WORKCODE" jdbcType="VARCHAR" property="workcode" />
    <result column="NEW_ACCOUNT" jdbcType="VARCHAR" property="newAccount" />
    <result column="PRODCODE" jdbcType="VARCHAR" property="prodcode" />
    <result column="PRODNBR" jdbcType="VARCHAR" property="prodnbr" />
    <result column="SERVCODE" jdbcType="VARCHAR" property="servcode" />
    <result column="TX_NAME" jdbcType="VARCHAR" property="txName" />
    <result column="PAYINTAMT" jdbcType="DECIMAL" property="payintamt" />
    <result column="GETINTAMT" jdbcType="DECIMAL" property="getintamt" />
    <result column="T_CHKNO" jdbcType="VARCHAR" property="tChkno" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="EXECUTE_RATE" jdbcType="VARCHAR" property="executeRate" />
    <result column="LOAN_NO" jdbcType="VARCHAR" property="loanNo" />
    <result column="VCHR_NO" jdbcType="VARCHAR" property="vchrNo" />
    <result column="VCHR_TYPE" jdbcType="VARCHAR" property="vchrType" />
    <result column="AUTH_OPER" jdbcType="VARCHAR" property="authOper" />
    <result column="ASSO_SERIAL" jdbcType="VARCHAR" property="assoSerial" />
    <result column="ASSO_DATE" jdbcType="DECIMAL" property="assoDate" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="CLIENT_RISK" jdbcType="DECIMAL" property="clientRisk" />
    <result column="TARG_BANK_ACC" jdbcType="VARCHAR" property="targBankAcc" />
    <result column="DIV_MODE" jdbcType="VARCHAR" property="divMode" />
    <result column="LARG_RED_FLAG" jdbcType="VARCHAR" property="largRedFlag" />
    <result column="VOL" jdbcType="DECIMAL" property="vol" />
    <result column="UNIT_NO" jdbcType="VARCHAR" property="unitNo" />
    <result column="REM_SRL_NUM" jdbcType="VARCHAR" property="remSrlNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    SEQ_ID, OCCUR_DATE, OCCUR_TIME, FLOW_ID, SITE_NO, OPERATOR_NO, GRANT_NO, ACCOUNT, 
    VOUH_NO, OPP_ACCT, AMOUNT, BALANCE, TX_CODE, SUBJECT_NO, CD_FLAG, CURRENCY_TYPE, 
    CUSTOMER_ID, CLIENT_NAME, DATA_FLAG, CHECK_FLAG, LSERIAL_NO, CITY_NO, MEMO, ACCT_NAME, 
    TABLEFROM, EX_SERIAL, OPP_CLIENT_NAME, WORKCODE, NEW_ACCOUNT, PRODCODE, PRODNBR, 
    SERVCODE, TX_NAME, PAYINTAMT, GETINTAMT, T_CHKNO, CODE, EXECUTE_RATE, LOAN_NO, VCHR_NO, 
    VCHR_TYPE, AUTH_OPER, ASSO_SERIAL, ASSO_DATE, CARD_NO, CLIENT_RISK, TARG_BANK_ACC, 
    DIV_MODE, LARG_RED_FLAG, VOL, UNIT_NO, REM_SRL_NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from FL_FLOW_TB
    where SEQ_ID = #{seqId,jdbcType=DECIMAL}
  </select>
  
    <select id="getUnchechFlowCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from fl_flow_tb 
	 <where>
    	<if test="occurDate != null">
	         AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo !=null and siteNo!=''">
	         AND SITE_NO = #{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="operatorNo !=null and operatorNo !=''">
	         AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
	    </if>
	 </where>
 		and check_flag = '-1'
  	</select>
  
  <select id="getFlowInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select ${flowQueryFields} from ${flowTb}
	<where> 
	    <if test="flowIdLike != null and flowIdLike != ''">
	        and FLOW_ID like #{flowIdLike,jdbcType=VARCHAR}
	    </if>
	    <if test="amountLike != null and amountLike != ''">
	        and AMOUNT like #{amountLike,jdbcType=DECIMAL}
	    </if>
	    <if test="accountLike != null and accountLike != ''">
	        and ACCOUNT like #{accountLike,jdbcType=VARCHAR}
	    </if>
	    
	    <if test="flowId != null and flowId != ''">
	        and FLOW_ID=#{flowId,jdbcType=VARCHAR}
	    </if>
	    <if test="amount != null and amount != ''">
	        and AMOUNT=#{amount,jdbcType=DECIMAL}
	    </if>
	    <if test="account != null and account != ''">
	        and ACCOUNT=#{account,jdbcType=VARCHAR}
	    </if>
		<if test="serialNo != null and serialNo != ''">
	        and LSERIAL_NO=#{serialNo,jdbcType=VARCHAR}
	    </if>
	    <if test="checkFlag != null and checkFlag != ''">
	        and CHECK_FLAG=#{checkFlag,jdbcType=VARCHAR}
	    </if>
	    <if test="operatorNo != null and operatorNo != ''">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo != null and siteNo != ''">
	        and site_no=#{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="occurDate != null and occurDate != ''">
	        and occur_date=#{occurDate,jdbcType=VARCHAR}
	    </if>
	    <if test="clientName != null and clientName != ''">
	        and client_name=#{clientName,jdbcType=VARCHAR}
	    </if>
	    <if test="txCode != null and txCode != ''">
	        and tx_code=#{txCode,jdbcType=VARCHAR}
	    </if>
	</where>
	order by flow_id
  </select> 
  
  <select id="selectFlowToDeal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	SELECT COUNT(SEQ_ID) FROM FL_FLOW_TB WHERE CHECK_FLAG='-1' AND OPERATOR_NO=#{operatorNo,jdbcType=VARCHAR} AND SITE_NO=#{siteNo,jdbcType=VARCHAR} AND OCCUR_DATE=#{occurDate,jdbcType=VARCHAR}
  </select>
  
   <!--更新流水sql-->
  <update id="updateFlow" parameterType="java.util.HashMap">
    update FL_FLOW_TB
    <set>
      <if test="checkFlag != null">
        CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="lserialNo != null">
        LSERIAL_NO = #{lserialNo,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
    	 <if test="flowId != null">
	    	and FLOW_ID = #{flowId,jdbcType=VARCHAR}
	 	 </if>
      	<if test="flowList != null">
		  <foreach collection="flowList" item="flowIds" open="(" separator="OR" close=")">
		    FLOW_ID IN 
		  	<foreach collection="flowIds" item="flowId" open="(" separator="," close=")">
		  		#{flowId}
		  	</foreach>
		  </foreach>
	  </if>
	 
	 <if test="list != null">
		  <foreach collection="list" item="data">  
			and ${data.fieldName} =#{data.fieldValue}
		  </foreach>
	  </if>
							 
											 
		
								  
													 
		   
      <if test="operatorNo != null">
        AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
      </if>
      <if test="siteNo != null">
        AND SITE_NO = #{siteNo,jdbcType=VARCHAR}
      </if>
      <if test="occurDate != null">
        AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
      </if>
      <if test="seqId != null">
	    and SEQ_ID = #{seqId,jdbcType=DECIMAL}
	  </if>
      <if test="lserialNoWhere != null">
	    and LSERIAL_NO = #{lserialNoWhere,jdbcType=VARCHAR}
	  </if>
    </where>
  </update>
  
  <!--释放所有勾兑流水sql-->
  <update id="updateFreeAllFlow" parameterType="java.util.HashMap">
    update FL_FLOW_TB SET CHECK_FLAG='-1',LSERIAL_NO=''
    where LSERIAL_NO IN (SELECT SERIAL_NO FROM BP_TMPDATA_1_TB WHERE CHECK_FLAG='1' AND BATCH_ID =#{batchId,jdbcType=VARCHAR})
    AND CHECK_FLAG = '1' AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
    AND SITE_NO = #{siteNo,jdbcType=VARCHAR} AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
  </update>
  <!--勾兑时根据勾兑要素查询流水信息-->
  <select id="getCheckFlowList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select FLOW_ID,CHECK_FLAG from fl_flow_tb
	<where> 
		<if test="list != null">
			<foreach collection="list" item="data">  
	    		and ${data.fieldName} =#{data.fieldValue}
			</foreach>
		</if>
	    <if test="operatorNo != null">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo != null">
	        and site_no=#{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="occurDate != null">
	        and occur_date=#{occurDate,jdbcType=VARCHAR}
	    </if>
	</where> 
  </select> 
  
  <select id="checkPluralFlowIsDealed" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select DISTINCT LSERIAL_NO,FLOW_ID from fl_flow_tb
	<where> 
			<if test="flowId != null">
	       		 and FLOW_ID = #{flowId,jdbcType=VARCHAR}
	   		 </if>

		<if test="flowList != null">
			and
			<foreach collection="flowList" item="flowIds" open="(" separator="OR" close=")">
			  	FLOW_ID IN 
			  	<foreach collection="flowIds" item="flowId" open="(" separator="," close=")">
			  		#{flowId}
			  	</foreach>
			</foreach>
		</if>
		
		<if test="list != null">
			<foreach collection="list" item="data">  
	    		and ${data.fieldName} =#{data.fieldValue}
			</foreach>
		</if>
	

		  
		<if test="checkFlag != null">
	        and CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR}
	    </if>
	    <if test="operatorNo != null">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo != null">
	        and site_no=#{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="occurDate != null">
	        and occur_date=#{occurDate,jdbcType=VARCHAR}
	    </if>
	    <if test="seqId != null">
	        and SEQ_ID = #{seqId,jdbcType=DECIMAL}
	    </if>
	</where> 
  </select>
  
  <select id="selectDealCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	SELECT COUNT(1) FROM FL_FLOW_TB 
	<where>
		<if test="flowId != null">
	        and FLOW_ID &lt;&gt; #{flowId,jdbcType=VARCHAR}
	    </if>
	    <if test="seqId != null">
	        and SEQ_ID &lt;&gt; #{seqId,jdbcType=DECIMAL}
	    </if>
	    <if test="serialNo != null">
            AND LSERIAL_NO = #{serialNo,jdbcType=VARCHAR}
        </if>
		<if test="checkFlag != null">
	        and CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR}
	    </if>
	    <if test="operatorNo != null">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo != null">
	        and site_no=#{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="occurDate != null">
	        and occur_date=#{occurDate,jdbcType=VARCHAR}
	    </if> 
	</where>
  </select> 
  
  <select id="selectVerifyFlow" parameterType="java.util.HashMap" resultType="java.lang.String">
  		SELECT FLOW_ID FROM FL_FLOW_TB
  		<where>
  			 <if test="flowId != null">
	    and FLOW_ID = #{flowId,jdbcType=VARCHAR}
	  </if>
 	  <if test="formFieldList != null">
	  <foreach collection="formFieldList" item="field">  
		and ${field.fieldName} =#{field.fieldValue}
	  </foreach>
	  </if>
	
      <if test="serialNo != null">
        AND LSERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      </if>
      <if test="operatorNo != null">
        AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
      </if>
      <if test="siteNo != null">
        AND SITE_NO = #{siteNo,jdbcType=VARCHAR}
      </if>
      <if test="occurDate != null">
        AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
      </if>
  		</where>
  </select>
  
  <select id="getSingleFlowInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select ${flowQueryFields} from ${flowTb}
	<where> 
	    <if test="list != null">
			<foreach collection="list" item="data">  
	    		and ${data.fieldName} =#{data.fieldValue}
			</foreach>
		</if>
	    <if test="operatorNo != null and operatorNo != ''">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="siteNo != null and siteNo != ''">
	        and site_no=#{siteNo,jdbcType=VARCHAR}
	    </if>
	    <if test="occurDate != null and occurDate != ''">
	        and occur_date=#{occurDate,jdbcType=VARCHAR}
	    </if>
	</where>
	order by SEQ_ID
  </select> 
  
  
    <!--批量执行sql  -->
    <update id="executeSqls" parameterType="java.util.List">
  	begin
  	<foreach collection="list" open="" close="" item="sql" separator=";">
   				${sql}
   		</foreach>
	;end;  
  </update>
  
  <delete id="deletehisflowData" parameterType="java.util.HashMap">
  		DELETE FROM  FL_FLOW_TB_HIS 
   		<where>
      <if test="operatorNo != null">
        AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
      </if>
      <if test="siteNo != null">
														
		  
														
        AND SITE_NO = #{siteNo,jdbcType=VARCHAR}
      </if>
      <if test="occurDate != null">
        AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
      </if>
  		</where>
  	
  </delete>
  
  
  <delete id="deleteArchiveflowData" parameterType="java.util.HashMap">
  		DELETE FROM FL_FLOW_TB
   		<where>
      <if test="operatorNo != null">
        AND OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
      </if>
      <if test="siteNo != null">
        AND SITE_NO = #{siteNo,jdbcType=VARCHAR}
      </if>
      <if test="occurDate != null">
        AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
      </if>
  		</where>
  	
  </delete>
  
  <select id="existsFlowByOccurDate" parameterType="java.util.HashMap">
  		select count(1) FROM FL_FLOW_TB
   		<where>
      <if test="occurDate != null">
        AND OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
      </if>
  		</where>
  	
  </select>
  <select id="getFlowByDateAndParamater" parameterType="java.util.HashMap" resultType="java.util.HashMap">
															   
	select * from FL_FLOW_TB
	<where> 
	    <if test="occurDate != null and occurDate != ''">
	    	and OCCUR_DATE = #{occurDate,jdbcType=VARCHAR}
		</if>
	    <if test="operatorNo != null and operatorNo != ''">
	        and OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
	    </if>
	    <if test="customerId != null and customerId != ''">
	        and CUSTOMER_ID =#{customerId,jdbcType=VARCHAR}
	    </if>
	    <if test="account != null and account != ''">
	        and ACCOUNT =#{account,jdbcType=VARCHAR}
	    </if>
	</where>
	order by SEQ_ID
  </select> 
  <update id="updateFlowErrorFlag">
   update fl_flow_tb set check_flag='3' where SEQ_ID=#{seqId,jdbcType=VARCHAR}
  
  </update>
  
  <select id="getFlowCount2"  resultType="java.util.HashMap">
	select t.CHECK_FLAG,t.OPERATOR_NO,count(t.SEQ_ID)CNT from Fl_Flow_Tb t
	<where> 
	    <if test="tellers != null and tellers.size() !=0">
	     t.OPERATOR_NO in 
		   <foreach collection="tellers" item="tellersTmp" open="("
				separator="," close=")">
				#{tellersTmp}
			</foreach> 
		</if>
	    <if test="occurDate != null and occurDate != ''">
	        and  t.OCCUR_DATE =#{occurDate,jdbcType=VARCHAR}
	    </if>
	</where>
    group by t.check_Flag,t.operator_No 
  </select> 
   <select id="getFlowCount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select t.CHECK_FLAG,t.SITE_NO,count(t.SEQ_ID)CNT from Fl_Flow_Tb t											   
	<where> 
	    <if test="siteNo != null and siteNo.size() !=0">
	     t.SITE_NO in 
		   <foreach collection="siteNo" item="siteNoTmp" open="("
				separator="," close=")">
				#{siteNoTmp}
			</foreach> 
		</if>
	    <if test="occurDate != null and occurDate != ''">
	        and  t.OCCUR_DATE =#{occurDate,jdbcType=VARCHAR}
	    </if>
	</where>
    group by t.check_Flag,t.SITE_NO 
  </select>
  
  
  <select id="selectFlowMonData" parameterType="java.lang.String" resultType="java.lang.String">
     select op_flag from fl_mon_Data_tb where occur_date = #{occurDate}	    
  </select> 
</mapper>