<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.common.dao.SmFieldDefTbMapper">
  
  <select id="selectFlowFieldName" resultType="java.util.HashMap">
    select t1.FIELD_NAME, t1.ELSE_NAME, t1.FIELD_TYPE 
    from sm_field_def_tb t1 join sm_table_field_tb t2 on t1.field_name=t2.field_name where t2.table_id = 3
  </select>
  
  <select id="getFieldsByTableId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
   select t1.field_name,t2.else_name,t2.field_float 
   from sm_table_field_tb t1,sm_field_def_tb t2 where t1.field_name=t2.field_name and t1.table_id = #{tableId,jdbcType=DECIMAL} and t1.location!=0 order by t1.location
  </select>
  
  <select id="getCheckFields" parameterType="java.lang.String" resultType="java.util.HashMap">
   select check_fields from sm_form_man_pro_tb where form_name = #{formName,jdbcType=VARCHAR}
  </select>
  
  <select id="getFlowFieldsInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
   select t1.FIELD_NAME, t1.ELSE_NAME, t1.FIELD_TYPE 
   from sm_field_def_tb t1 join sm_table_field_tb t2 on t1.field_name=t2.field_name where t2.field_name in
      <foreach collection="checkFields" item="checkField" open="(" separator="," close=")">
          #{checkField}
      </foreach>
    and t2.table_id = 3
  </select>
  
  <select id="getFieldDicByModel" parameterType="java.lang.Integer" resultType="java.util.HashMap">
   select f.name, f.dicname from mc_exhibit_field_tb e
	  join mc_field_tb f on e.table_field_id = f.id
	 where f.dicname is not null
	   and e.model_id = #{modelId,jdbcType=INTEGER}
  </select>
</mapper>