<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.file.dao.ma.VoucherInfoMapper">
  <sql id="Base_Column_List">
    VOUCHER_NAME, VOUCHER_ID, VOUCHER_NUMBER, P_FOLDER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="java.util.HashMap">
    select 
    <include refid="Base_Column_List" />
    from SM_VOUCHER_INFO_TB
    where VOUCHER_NAME = #{voucherName,jdbcType=VARCHAR}
  </select>
  <!-- 获取页面上配置的存在附件标志的版面 -->
  <select id="selectAttachmentForm" resultType="java.util.HashMap">
	SELECT DISTINCT FORM_NAME,ATTACHMENT_FLAG FROM SM_TRADE_FORM_TB WHERE FORM_NAME IN(SELECT FORM_NAME FROM SM_TRADE_FORM_TB WHERE ATTACHMENT_FLAG = 0) ORDER BY ATTACHMENT_FLAG
  </select>
  <!-- 获取所有版面的补录和限制信息 -->
  <select id="selectAllFormInfo" resultType="java.util.HashMap">
	SELECT A.VOUCHER_NUMBER,A.VOUCHER_NAME,B.IS_MULTI,B.CHECK_FIELDS FROM SM_VOUCHER_INFO_TB A INNER JOIN SM_FORM_MAN_PRO_TB B ON A.VOUCHER_NAME = B.FORM_NAME ORDER BY A.VOUCHER_NUMBER
  </select> 
  <!-- 版面参数获取 -->
  <select id="selectFormNameMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	SELECT VOUCHER_NAME FROM SM_VOUCHER_ORGAN_TB WHERE ORGAN_NO = #{organ_no}  UNION ALL SELECT DISTINCT (T1.VOUCHER_NAME) FROM SM_VOUCHER_INFO_TB T1 WHERE NOT EXISTS (SELECT 1 FROM SM_VOUCHER_ORGAN_TB T2 WHERE T1.VOUCHER_NAME = T2.VOUCHER_NAME)
  </select> 
</mapper>