<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunyard.ars.system.dao.busm.SmRoleTableTbMapper" >
	
	<select id="getTablesByRoleNo" parameterType="java.lang.String"  resultType="map">
		 select * from   sm_role_table_tb  where  role_no=#{roleNo}
	</select>
	
	<insert id="save" parameterType="com.sunyard.ars.system.bean.busm.SmRoleTableTB" >
			insert into	SM_ROLE_TABLE_TB
			<trim prefix="(" suffix=")" suffixOverrides="," >
					<if test="roleNo!= null">
						role_no,
					 </if>
					<if test="tableId!= null">
						table_id,
					 </if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides="," >
					<if test="roleNo!= null">
						#{roleNo},
					</if>
					<if test="tableId!= null">
						#{tableId},
					</if>
				</trim>
		</insert>
		
		 <delete id="deleteByRoleNo" parameterType="java.lang.String" >
		  delete from sm_role_table_tb where role_no=#{roleNo}
	   </delete>	
	
</mapper>