<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.ars.system.dao.hx.ChartTbMapper" >
  <!-- 查询 -->
  <select id="select" resultType="java.util.HashMap" parameterType="java.util.HashMap"  >
  		select * from  sm_process_chart_tb
  </select>
  <!-- 添加 -->
  <insert id="save" parameterType="java.util.HashMap" >
   	insert into sm_process_chart_tb
	<trim prefix="(" suffix=")" suffixOverrides="," >
	 <if test="Bean.chartNo != null" >
			chart_no,
      </if>
	  <if test="Bean.chartName != null" >
			chart_name,
      </if>
	  <if test="Bean.chartDescription != null" >
			chart_description,
      </if>
	  <if test="Bean.organArea != null" >
			organ_area,
      </if>
	  <if test="Bean.roleNo != null" >
			role_no,
      </if>
	  <if test="Bean.otherEssentialFactor != null" >
			other_essential_factor,
      </if>
	  <if test="Bean.chartStart != null" >
			chart_start,
      </if>
	  <if test="Bean.slipLevel!= null" >
			slip_level,
      </if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="Bean.chartNo!= null" >
			#{Bean.chartNo},
		 </if>
		  <if test="Bean.chartName != null" >
			#{Bean.chartName},
		 </if>
		  <if test="Bean.chartDescription != null" >
			#{Bean.chartDescription},
		 </if>
		  <if test="Bean.organArea != null" >
			#{Bean.organArea},
		 </if>
		  <if test="Bean.roleNo != null" >
			#{Bean.roleNo },
		 </if>
		  <if test="Bean.otherEssentialFactor != null" >
			#{Bean.otherEssentialFactor},
		 </if>
		  <if test="Bean.chartStart != null" >
			#{Bean.chartStart},
		 </if>
		  <if test="Bean.slipLevel != null" >
			 #{Bean.slipLevel},
		 </if>
	</trim>
  </insert>
  
  <update id="update" parameterType="java.util.HashMap" >
  		update sm_process_chart_tb  t 
				 <set >
				 <if test="Bean.chartNo != null" >
        			t.chart_no = #{Bean.chartNo,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.chartName != null" >
        			t.chart_name = #{Bean.chartName,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.chartDescription != null" >
        			t.chart_description = #{Bean.chartDescription,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.organArea != null" >
        			t.organ_area = #{Bean.organArea,jdbcType=VARCHAR},
     			 </if>
				 <if test="Bean.roleNo != null" >
        			t.role_no =#{Bean.roleNo,jdbcType=CHAR},
     			 </if>
				 <if test="Bean.otherEssentialFactor != null" >
        			t.other_essential_factor= #{Bean.otherEssentialFactor,jdbcType=VARCHAR},
     			 </if>
				<if test="Bean.chartStart != null" >
        			t.chart_start=#{Bean.chartStart,jdbcType=VARCHAR},
     			 </if>
				<if test="Bean.slipLevel != null" >
        			t.slip_level=#{Bean.slipLevel,jdbcType=VARCHAR},
     			 </if>
     		</set>	
			where  t.chart_no = #{Bean.chartNo,jdbcType=VARCHAR} 
  </update>
  
   <delete id="delete" parameterType="java.util.HashMap" >
   	  delete from sm_process_chart_tb where chart_no = #{Bean.chartNo} 
   </delete>
   
   <select id="getMaxId" resultType="java.lang.Integer">
   		select max(to_number(chart_no)) maxNum from sm_process_chart_tb 
   </select>
</mapper>