<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.ars.system.dao.hx.ILineTbMapper" >
  <!-- 查询 -->
  <select id="select" resultType="java.util.HashMap" parameterType="java.util.HashMap"  >
  		select * from  sm_process_line_tb 
  		where 1=1
  		 	<if test="Bean.flowChart != null and Bean.flowChart !=''" >
				AND flow_chart = #{Bean.flowChart,jdbcType=VARCHAR}
		   </if>
  </select>
  <!-- 添加 -->
  <insert id="save" parameterType="java.util.HashMap" >
   	insert into sm_process_line_tb
	<trim prefix="(" suffix=")" suffixOverrides="," >
	 <if test="Bean.id != null" >
			id,
      </if>
	  <if test="Bean.boforeNodeNo != null" >
			bofore_node_no,
      </if>
       <if test="Bean.afterNodeNo != null" >
			after_node_no,
      </if>
	  <if test="Bean.nodeContent != null" >
			node_content,
      </if>
	  <if test="Bean.isDefaultSelect != null" >
			is_default_select,
      </if>
	  <if test="Bean.transferMethod != null" >
			transfer_method,
      </if>
	  <if test="Bean.flowChart != null" >
			flow_chart,
      </if>
	  <if test="Bean.lineRoles != null" >
			line_roles,
      </if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		 <if test="Bean.id!= null" >
			#{Bean.id},
		 </if>
		  <if test="Bean.boforeNodeNo!= null" >
			#{Bean.boforeNodeNo},
		 </if>
		  <if test="Bean.afterNodeNo != null" >
			#{Bean.afterNodeNo},
		 </if>
		  <if test="Bean.nodeContent != null" >
			#{Bean.nodeContent},
		 </if>
		  <if test="Bean.isDefaultSelect != null" >
			#{Bean.isDefaultSelect},
		 </if>
		  <if test="Bean.transferMethod != null" >
			#{Bean.transferMethod },
		 </if>
		  <if test="Bean.flowChart != null" >
			#{Bean.flowChart},
		 </if>
		  <if test="Bean.lineRoles!= null" >
			#{Bean.lineRoles},
		 </if>
	</trim>
  </insert>
  
  <update id="update" parameterType="java.util.HashMap" >
  		update sm_process_line_tb  t 
				 <set >
				 <if test="Bean.boforeNodeNo != null" >
        			t.bofore_node_no = #{Bean.boforeNodeNo,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.afterNodeNo != null" >
        			t.after_node_no = #{Bean.afterNodeNo,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.nodeContent != null" >
        			t.node_content = #{Bean.nodeContent,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.isDefaultSelect != null" >
        			t.is_default_select = #{Bean.isDefaultSelect,jdbcType=VARCHAR},
     			 </if>
				 <if test="Bean.transferMethod != null" >
        			t.transfer_method =#{Bean.transferMethod,jdbcType=CHAR},
     			 </if>
				 <if test="Bean.flowChart != null" >
        			t.flow_chart= #{Bean.flowChart,jdbcType=VARCHAR},
     			 </if>
				<if test="Bean.lineRoles != null" >
        			t.line_roles=#{Bean.lineRoles,jdbcType=VARCHAR},
     			 </if>
     		</set>	
			where  t.id = #{Bean.id,jdbcType=VARCHAR} 
  </update>
  
   <delete id="delete" parameterType="java.util.HashMap" >
   	  delete from sm_process_line_tb where id = #{Bean.id} 
   </delete>
   
   <select id="getMaxId" resultType="java.lang.Integer">
   		select max(to_number(id)) maxNum from sm_process_line_tb 
   </select>
</mapper>