<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.ars.system.dao.hx.INodeTBMapper" >
  <!-- 查询 -->
  <select id="select" resultType="java.util.HashMap" parameterType="java.util.HashMap"  >
  		select * from  sm_process_node_tb
  		where 1=1
  		 	 <if test="Bean.flowChart != null and Bean.flowChart !=''" >
				AND flow_chart = #{Bean.flowChart,jdbcType=VARCHAR}
		  	</if>		  	
		  	 <if test="Bean.NodeNo != null and Bean.NodeNo !=''" >
				AND node_no = #{Bean.nodeNo,jdbcType=VARCHAR}
		  	</if>
	
  </select>
  <!-- 添加 -->
  <insert id="save" parameterType="java.util.HashMap" >
   	insert into sm_process_node_tb
	<trim prefix="(" suffix=")" suffixOverrides="," >
	 <if test="Bean.nodeNo != null" >
			node_no,
      </if>
	  <if test="Bean.nodeName != null" >
			node_name,
      </if>
	  <if test="Bean.searchIscenter != null" >
			search_iscenter,
      </if>
	  <if test="Bean.nodeDescription != null" >
			node_description,
      </if>
	  <if test="Bean.formStateText != null" >
			form_state_text,
      </if>
	  <if test="Bean.isStoreHistory != null" >
			is_store_history,
      </if>
	  <if test="Bean.isForSearch != null" >
			is_for_search,
      </if>
      <if test="Bean.labelProcess != null" >
			label_process,
      </if>
	  <if test="Bean.isForAdd != null" >
			is_for_add,
      </if>
	  <if test="Bean.purview != null" >
			purview,
      </if>
	  <if test="Bean.onlyShowLastprocess != null" >
			only_show_lastprocess,
      </if>
       <if test="Bean.stateText != null" >
			state_text,
      </if>
	  <if test="Bean.isShowActionModel!= null" >
			is_show_action_model,
      </if>
	  <if test="Bean.addPurview != null" >
			add_purview,
      </if>
	  <if test="Bean.searchPurview != null" >
			search_purview,
      </if>
       <if test="Bean.roleName != null" >
			role_name,
      </if>
	  <if test="Bean.flowChart != null" >
			flow_chart,
      </if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="Bean.nodeNo!= null" >
			#{Bean.nodeNo},
		 </if>
		  <if test="Bean.nodeName != null" >
			#{Bean.nodeName},
		 </if>
		  <if test="Bean.searchIscenter != null" >
			#{Bean.searchIscenter},
		 </if>
		  <if test="Bean.nodeDescription != null" >
			#{Bean.nodeDescription},
		 </if>
		  <if test="Bean.formStateText!= null" >
			#{Bean.formStateText },
		 </if>
		  <if test="Bean.isStoreHistory!= null" >
			#{Bean.isStoreHistory},
		 </if>
		  <if test="Bean.isForSearch!= null" >
			#{Bean.isForSearch},
		 </if>
		 
		  <if test="Bean.labelProcess != null" >
			#{Bean.labelProcess },
		 </if>
		  <if test="Bean.isForAdd!= null" >
			#{Bean.isForAdd},
		 </if>
		  <if test="Bean.purview!= null" >
			#{Bean.purview},
		 </if>
		  <if test="Bean.onlyShowLastprocess  != null" >
			#{Bean.onlyShowLastprocess },
		 </if>
		  <if test="Bean.stateText!= null" >
			#{Bean.stateText},
		 </if>
		  <if test="Bean.isShowActionModel!= null" >
			#{Bean.isShowActionModel},
		 </if>
		  <if test="Bean.addPurview!= null" >
			#{Bean.addPurview },
		 </if>
		  <if test="Bean.searchPurview!= null" >
			#{Bean.searchPurview},
		 </if>
		  <if test="Bean.roleName!= null" >
			#{Bean.roleName},
		 </if>
		  <if test="Bean.flowChart!= null" >
			#{Bean.flowChart},
		 </if>
	</trim>
  </insert>
  
  <update id="update" parameterType="java.util.HashMap" >
  		update sm_process_node_tb  t 
				 <set >
				 <if test="Bean.nodeNo != null" >
        			t.node_no = #{Bean.nodeNo,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.nodeName != null" >
        			t.node_name = #{Bean.nodeName,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.searchIscenter != null" >
        			t.search_iscenter = #{Bean.searchIscenter,jdbcType=VARCHAR}, 
     			 </if>
				<if test="Bean.nodeDescription != null" >
        			t.node_description = #{Bean.nodeDescription,jdbcType=VARCHAR},
     			 </if>
				 <if test="Bean.formStateText != null" >
        			t.form_state_text =#{Bean.formStateText,jdbcType=CHAR},
     			 </if>
				 <if test="Bean.isStoreHistory != null" >
        			t.is_store_history= #{Bean.isStoreHistory,jdbcType=VARCHAR},
     			 </if>
				<if test="Bean.isForSearch != null" >
        			t.is_for_search=#{Bean.isForSearch,jdbcType=VARCHAR},
     			 </if>
     			 
     			 <if test="Bean.labelProcess != null" >
        			t.label_process=#{Bean.labelProcess,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.isForAdd != null" >
        			t.is_for_add=#{Bean.isForAdd,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.purview != null" >
        			t.purview=#{Bean.purview,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.onlyShowLastprocess != null" >
        			t.only_show_lastprocess=#{Bean.onlyShowLastprocess,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.stateText != null" >
        			t.state_text=#{Bean.stateText,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.isShowActionModel != null" >
        			t.is_show_action_model=#{Bean.isShowActionModel,jdbcType=VARCHAR},
     			 </if>
     			 
     			  <if test="Bean.addPurview != null" >
        			t.add_purview=#{Bean.addPurview,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.searchPurview != null" >
        			t.search_purview=#{Bean.searchPurview,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.roleName!= null" >
        			t.role_name=#{Bean.roleName,jdbcType=VARCHAR},
     			 </if>
     			 <if test="Bean.flowChart != null" >
        			t.flow_chart=#{Bean.flowChart,jdbcType=VARCHAR},
     			 </if>
     		</set>	
			where  t.node_no = #{Bean.nodeNo} and flow_chart=#{Bean.flowChart} 
  </update>
  
   <delete id="delete" parameterType="java.util.HashMap" >
   	  delete from sm_process_node_tb where node_no = #{Bean.nodeNo}  and   flow_chart=#{Bean.flowChart} 
   </delete>
   
   <select id="selectIsExist" parameterType="com.sunyard.ars.system.bean.hx.NodeTbBean" resultType="java.util.HashMap">
   		select * from  sm_process_node_tb where  node_no = #{nodeNo}  and  flow_chart=#{flowChart} 
   </select>
</mapper>