<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.risk.dao.arms.ArmsFavoriteTbMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.ars.risk.bean.arms.ArmsFavoriteTb">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="ENTRY_ID" jdbcType="VARCHAR" property="entryId" />
    <result column="ENTRYROW_ID" jdbcType="VARCHAR" property="entryrowId" />
    <result column="FORM_ID" jdbcType="VARCHAR" property="formId" />
    <result column="FAVORITE_TITLE" jdbcType="VARCHAR" property="favoriteTitle" />
    <result column="FAVORITE_TIME" jdbcType="TIMESTAMP" property="favoriteTime" />
    <result column="FAVORITE_USER" jdbcType="VARCHAR" property="favoriteUser" />
    <result column="FAVORITE_ORGAN" jdbcType="VARCHAR" property="favoriteOrgan" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REMARK_COMMON" jdbcType="VARCHAR" property="remarkCommon" />
    <result column="ISCOMMON" jdbcType="VARCHAR" property="iscommon" />
  </resultMap>

  <select id="checkFavorite" parameterType="java.util.HashMap" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM ARMS_FAVORITE_TB
      <where>
      	<if test="modelId != null and modelId != ''">
      		AND ENTRY_ID = #{modelId,jdbcType=VARCHAR}
      	</if>
      	<if test="modelRowId != null and modelRowId != ''">
      		AND ENTRYROW_ID = #{modelRowId,jdbcType=VARCHAR}
      	</if>
      	<if test="formId != null and formId != ''">
      		AND FORM_ID = #{formId,jdbcType=VARCHAR}
      	</if>
      	<if test="type != null and type != ''">
      		AND TYPE = #{type,jdbcType=VARCHAR}
      	</if>
      </where>
  </select>


  <insert id="insert" parameterType="com.sunyard.ars.risk.bean.arms.ArmsFavoriteTb">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into ARMS_FAVORITE_TB (ID, TYPE, ENTRY_ID, 
      ENTRYROW_ID, FORM_ID, FAVORITE_TITLE, 
      FAVORITE_TIME, FAVORITE_USER, FAVORITE_ORGAN, 
      REMARK, REMARK_COMMON, ISCOMMON
      )
    values (#{id,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{entryId,jdbcType=VARCHAR}, 
      #{entryrowId,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, #{favoriteTitle,jdbcType=VARCHAR}, 
      #{favoriteTime,jdbcType=TIMESTAMP}, #{favoriteUser,jdbcType=VARCHAR}, #{favoriteOrgan,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{remarkCommon,jdbcType=VARCHAR}, #{iscommon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.ars.risk.bean.arms.ArmsFavoriteTb">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into ARMS_FAVORITE_TB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="entryId != null">
        ENTRY_ID,
      </if>
      <if test="entryrowId != null">
        ENTRYROW_ID,
      </if>
      <if test="formId != null">
        FORM_ID,
      </if>
      <if test="favoriteTitle != null">
        FAVORITE_TITLE,
      </if>
      <if test="favoriteTime != null">
        FAVORITE_TIME,
      </if>
      <if test="favoriteUser != null">
        FAVORITE_USER,
      </if>
      <if test="favoriteOrgan != null">
        FAVORITE_ORGAN,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="remarkCommon != null">
        REMARK_COMMON,
      </if>
      <if test="iscommon != null">
        ISCOMMON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="entryId != null">
        #{entryId,jdbcType=VARCHAR},
      </if>
      <if test="entryrowId != null">
        #{entryrowId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="favoriteTitle != null">
        #{favoriteTitle,jdbcType=VARCHAR},
      </if>
      <if test="favoriteTime != null">
        #{favoriteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteUser != null">
        #{favoriteUser,jdbcType=VARCHAR},
      </if>
      <if test="favoriteOrgan != null">
        #{favoriteOrgan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remarkCommon != null">
        #{remarkCommon,jdbcType=VARCHAR},
      </if>
      <if test="iscommon != null">
        #{iscommon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>