<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 机构信息sql -->

<mapper namespace="com.sunyard.ars.risk.dao.arms.ArmsDataStatisticsMapper" >
    <!--统计页面查询预警统计信息-->
    <select id="getMonitorData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT ID,EXHI_REL_ID,NAME,ALARM_LEVEL,NODEAL,DEALED,TRANS_NODEALED,ALL_TASK
        FROM(SELECT EN.ID ID,EN.EXHI_REL_ID EXHI_REL_ID,EN.NAME NAME,EN.ALARM_LEVEL ALARM_LEVEL,
        SUM(A.ALL_TASK -A.IS_HANDLE-A.IS_TRANSMIT) NODEAL,
        SUM(A.IS_HANDLE+A.IS_TRANSMIT) DEALED,
        SUM(A.IS_TRANSMIT - A.IS_TRANS_HANDLED) TRANS_NODEALED,
        SUM(A.ALL_TASK) ALL_TASK
        FROM ARMS_ENTRYDATA_STATISTICS A,MC_MODEL_TB EN
        WHERE A.ENTRY_ID = EN.ID
        <if test="armsStartDate != null and armsStartDate != '' ">
        AND A.PROC_DATE <![CDATA[ >= ]]> #{armsStartDate,jdbcType=VARCHAR}
        </if>
        <if test="armsEndDate != null and armsEndDate != '' ">
        AND A.PROC_DATE <![CDATA[ <= ]]> #{armsEndDate,jdbcType=VARCHAR}
        </if>
        <if test="branch_organ != null and branch_organ != ''">
        AND A.BUSI_ORGAN IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
        </if>
        <if test="query_busi_organ != null">
            AND A.BUSI_ORGAN IN
            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
            #{organ}
            </foreach>
        </if>
        <if test="model_name != null and model_name != '' ">
        AND A.ENTRY_ID = #{model_name,jdbcType=VARCHAR}
        </if>
        <if test="model_level != null and model_level != '' ">
        AND EN.ALARM_LEVEL = #{model_level,jdbcType=VARCHAR}
        </if>
        <if test="model_busi_type != null and model_busi_type != '' ">
        AND EN.TRAD_BUSI = #{model_busi_type,jdbcType=VARCHAR}
        </if>
        <if test="modelIdList != null and modelIdList.size != 0">
	      AND EN.ID in
			<foreach collection="modelIdList" item="modelIdMap" index="index" open="(" close=")" separator="," >
				#{modelIdMap.MODEL_ID}
			</foreach>
	    </if>
	     <if test="hasPrivOrganFlag != 0">
	     AND EXISTS (SELECT 1
                  FROM SM_USER_ORGAN_TB O
                 WHERE O.ORGAN_NO = A.BUSI_ORGAN
                   AND O.USER_NO = #{userNo,jdbcType=VARCHAR})
	    </if>
	     <if test="hasPrivOrganFlag == 0">
	    AND EXISTS (select 1
		from sm_organ_tb sot, sm_organ_parent_tb sopt
		where
		exists (select 1
		from sm_users_tb sut
		where sut.user_no = #{userNo,jdbcType=VARCHAR}
		and sot.organ_no = sut.organ_no)
		and sot.organ_no = sopt.parent_organ
		and sopt.organ_no=A.BUSI_ORGAN
		)
	    </if>
        AND EXISTS (SELECT 1
                  FROM MC_ORGAN_MODEL_TB OM
                 WHERE OM.MODEL_ID = A.ENTRY_ID
                   AND OM.ORGAN_NO = #{organNo,jdbcType=VARCHAR})
        GROUP BY EN.ID,EN.NAME,EN.ALARM_LEVEL,EN.EXHI_REL_ID
        ORDER BY SUBSTR(EN.NAME,1,6) )TT
    </select>


    <!--统计页面查询提示类预警统计信息-->
    <select id="promptStatisticsQuery" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT A.ID,A.NAME,A.NODEAL,A.DEALED,A.SUM_ALL,A.YJCOUNT
        FROM(SELECT MD.ID,MD.NAME,SUM(T.NODEAL) NODEAL,SUM(T.DEALED) DEALED,
        SUM(T.NODEAL + T.DEALED) SUM_ALL,SUM(T1.ALL_TASK) YJCOUNT FROM
        ARMS_ENTRYDATA_STATISTICS_HS T,
        ARMS_ENTRYDATA_STATISTICS T1,
        MC_MODEL_TB MD
        WHERE
        T1.ENTRY_ID = T.ENTRY_ID AND T1.PROC_DATE = T.PROC_DATE AND
        T1.BUSI_ORGAN = T.BUSI_ORGAN AND MD.ALARM_LEVEL = 4 AND
        MD.ID = T.ENTRY_ID
        <if test="armsStartDate != null and armsStartDate != '' ">
            AND T.PROC_DATE <![CDATA[ >= ]]> #{armsStartDate,jdbcType=VARCHAR}
        </if>
        <if test="armsEndDate != null and armsEndDate != '' ">
            AND T.PROC_DATE <![CDATA[ <= ]]> #{armsEndDate,jdbcType=VARCHAR}
        </if>
        <if test="branch_organ != null and branch_organ != '' and query_busi_organ == null">
            AND T.BUSI_ORGAN IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
        </if>
        <if test="query_busi_organ != null">
            AND T.BUSI_ORGAN IN
            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
                #{organ}
            </foreach>
        </if>
        <if test="model_name != null and model_name != '' ">
            AND T.ENTRY_ID = #{model_name,jdbcType=VARCHAR}
        </if>
        <if test="model_busi_type != null and model_busi_type != '' ">
            AND MD.TRAD_BUSI = #{model_busi_type,jdbcType=VARCHAR}
        </if>
        <if test="modelIdList != null and modelIdList.size != 0">
	      AND MD.ID in
			<foreach collection="modelIdList" item="modelIdMap" index="index" open="(" close=")" separator="," >
				#{modelIdMap.MODEL_ID}
			</foreach>
	    </if>
	    
	     <if test="hasPrivOrganFlag != 0">
	    AND EXISTS (SELECT 1
                  FROM SM_USER_ORGAN_TB O
                 WHERE O.ORGAN_NO = T.BUSI_ORGAN
                   AND O.USER_NO = #{userNo,jdbcType=VARCHAR})
	    </if>
	     <if test="hasPrivOrganFlag == 0">
	    AND EXISTS (select 1
		from sm_organ_tb sot, sm_organ_parent_tb sopt
		where
		exists (select 1
		from sm_users_tb sut
		where sut.user_no = #{userNo,jdbcType=VARCHAR}
		and sot.organ_no = sut.organ_no)
		and sot.organ_no = sopt.parent_organ
		and sopt.organ_no=T.BUSI_ORGAN
		)
	    </if>
        AND EXISTS (SELECT 1
                  FROM MC_ORGAN_MODEL_TB OM
                 WHERE OM.MODEL_ID = T.ENTRY_ID
                   AND OM.ORGAN_NO = #{organNo,jdbcType=VARCHAR})
        GROUP BY MD.ID,MD.NAME  )A WHERE
        A.SUM_ALL > 0
        ORDER BY		A.ID
    </select>



    <update id="updatePromptStatistic" parameterType="java.util.HashMap">
        UPDATE ARMS_ENTRYDATA_STATISTICS_HS A SET
        A.DEALED = A.DEALED + #{updateCount,jdbcType=INTEGER},
        A.NODEAL = A.NODEAL-#{updateCount,jdbcType=INTEGER}
        WHERE A.ENTRY_ID=#{modelId,jdbcType=INTEGER}
        AND A.BUSI_ORGAN=#{organNo,jdbcType=VARCHAR}
        AND A.PROC_DATE=#{procDate,jdbcType=VARCHAR}
    </update>
    <update id="updateStatistic" parameterType="java.util.HashMap">
        UPDATE
        ARMS_ENTRYDATA_STATISTICS A
        SET
        A.IS_HANDLE = A.IS_HANDLE +  #{updateCount,jdbcType=INTEGER},
        A.IS_TRANS_HANDLED = A.IS_TRANS_HANDLED + #{updateCount,jdbcType=INTEGER}
        WHERE
        ENTRY_ID = #{modelId,jdbcType=INTEGER} AND
        BUSI_ORGAN = #{organNo,jdbcType=VARCHAR} AND
        PROC_DATE = #{procDate,jdbcType=VARCHAR}
    </update>


    <update id="updateStatisticFromRowId" parameterType="java.util.HashMap">
        UPDATE
        ARMS_ENTRYDATA_STATISTICS A
        SET
        A.IS_HANDLE = A.IS_HANDLE +  #{updateCount,jdbcType=INTEGER},
        A.IS_TRANS_HANDLED = A.IS_TRANS_HANDLED + #{updateCount,jdbcType=INTEGER}
        WHERE
        ENTRY_ID = #{modelId,jdbcType=INTEGER} AND
        BUSI_ORGAN = #{organNo,jdbcType=VARCHAR} AND
        PROC_DATE = #{procDate,jdbcType=VARCHAR}
    </update>

	<!--统计页面查询提示类预警统计信息-->
    <select id="relateStatisticsQuery" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select entry_id, count(1) count,max(ENTRY_NAME) entry_name,max(ENTRY_LEVEL) entry_level
		  from ${tableName} T
		  <where>
		  	<if test="bankCode != null and bankCode != '' ">
	            AND T.BANKCODE = #{bankCode,jdbcType=VARCHAR}
	        </if>
	        <if test="acctNo != null and acctNo != '' ">
	            AND T.ACCT_NO = #{acctNo,jdbcType=VARCHAR}
	        </if>
	        <if test="operatorNo != null and operatorNo != '' ">
	            AND T.OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
	        </if>
			<if test="model_name != null and model_name != '' ">
	            AND T.ENTRY_ID = #{model_name,jdbcType=VARCHAR}
	        </if>
	        <if test="model_level != null and model_level != '' ">
	        	AND T.ENTRY_LEVEL = #{model_level,jdbcType=VARCHAR}
	        </if>
	        <if test="query_busi_organ != null">
	            AND T.BUSI_ORGAN IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="model_busi_type != null and model_busi_type != '' ">
	        	and EXISTS (SELECT 1
		                  FROM mc_model_tb M
		                 WHERE M.ID = T.ENTRY_ID
		                   AND M.TRAD_BUSI = #{model_busi_type,jdbcType=VARCHAR})
	        </if>
	        <if test="procDate != null and procDate != '' ">
	        	AND T.PROC_DATE = #{procDate,jdbcType=VARCHAR}
	        </if>
	        <if test="modelIdList != null and modelIdList.size != 0">
		      AND T.ENTRY_ID in
				<foreach collection="modelIdList" item="modelIdMap" index="index" open="(" close=")" separator="," >
					#{modelIdMap.MODEL_ID}
				</foreach>
		    </if>
	        and EXISTS (SELECT 1
		                  FROM MC_ORGAN_MODEL_TB OM
		                 WHERE OM.MODEL_ID = T.ENTRY_ID
		                   AND OM.ORGAN_NO = #{organNo,jdbcType=VARCHAR})
		</where>
		group by entry_id
 		order by entry_id
    </select>

	<delete id="deleteArmsCount" parameterType="java.util.HashMap">
	    delete from ARMS_ENTRYDATA_STATISTICS T
	    <where>
	    	<if test="query_busi_organ != null">
	            AND T.BUSI_ORGAN IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BUSI_ORGAN IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
	        <if test="allModel != null and allModel.size != 0">
		      AND T.ENTRY_ID in
				<foreach collection="allModel" item="modelIdMap" index="index" open="(" close=")" separator="," >
					#{modelIdMap.id}
				</foreach>
		    </if>
	        <if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.proc_date &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.proc_date &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
	    </where>
	</delete>
	
	<insert id="insertArmsCount" parameterType="java.util.HashMap">
    	INSERT INTO ARMS_ENTRYDATA_STATISTICS(BUSI_ORGAN,ENTRY_ID,PROC_DATE,IS_HANDLE,IS_TRANSMIT,ALL_TASK,IS_TRANS_HANDLED)
		SELECT T.BANKCODE,
		       T.ENTRY_ID,
		       PROC_DATE,
		       SUM(CASE
		             WHEN NVL(T.DEAL_STATE, '0') = '0' AND T.ISHANDLE IN ('-1', '99') THEN
		              1
		             ELSE
		              0
		           END) IS_HANDLE,
		       SUM(DECODE(T.DEAL_STATE, '1', 1, 0)) TRANSMIT,
		       COUNT(*),
		       SUM(CASE
		             WHEN T.DEAL_STATE = '1' AND T.ISHANDLE IN ('-1', '99') THEN
		              1
		             ELSE
		              0
		           END) IS_TRANS_HANDLED
		  FROM (select * from ${tableName} T
		 <where>
		 	T.LIST_FLAG = '0'
		 	<if test="query_busi_organ != null">
	            AND T.BANKCODE IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BANKCODE IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
		 	<if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.PROC_DATE &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.PROC_DATE &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
		 </where> 
		 union all 
		 select * from ${tableName}_HIS T
		 <where>
		 	T.LIST_FLAG = '0'
		 	<if test="query_busi_organ != null">
	            AND T.BANKCODE IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BANKCODE IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
		 	<if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.PROC_DATE &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.PROC_DATE &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
		 </where> 
		 ) T
		 GROUP BY T.BANKCODE, T.ENTRY_ID, T.PROC_DATE
  </insert>
  
  <delete id="deleteArmsHsCount" parameterType="java.util.HashMap">
	    delete from ARMS_ENTRYDATA_STATISTICS_HS T
	    <where>
	    	<if test="query_busi_organ != null">
	            AND T.BUSI_ORGAN IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BUSI_ORGAN IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
	        <if test="allModel != null and allModel.size != 0">
		      AND T.ENTRY_ID in
				<foreach collection="allModel" item="modelIdMap" index="index" open="(" close=")" separator="," >
					#{modelIdMap.id}
				</foreach>
		    </if>
	        <if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.proc_date &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.proc_date &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
	    </where>
	</delete>
	
  <insert id="insertArmsHsCount" parameterType="java.util.HashMap">
    	INSERT INTO ARMS_ENTRYDATA_STATISTICS_HS
		  (BUSI_ORGAN, PROC_DATE, ENTRY_ID, NODEAL, DEALED)
		  SELECT T.BANKCODE,
		         T.PROC_DATE,
		         T.ENTRY_ID,
		         SUM(CASE
		               WHEN T.CHECK_STATE = '0' THEN
		                1
		               ELSE
		                0
		             END) NODEAL,
		         SUM(CASE
		               WHEN T.CHECK_STATE = '0' THEN
		                0
		               ELSE
		                1
		             END) DEALED
		  FROM (select * from ${tableName} T
		 <where>
		 	T.LIST_FLAG = '0' AND T.CHECK_STATE >= '0' 
		 	<if test="query_busi_organ != null">
	            AND T.BANKCODE IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BANKCODE IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
		 	<if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.PROC_DATE &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.PROC_DATE &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
		 </where> 
		 union all 
		 select * from 
		  ${tableName}_HIS T
		 <where>
		 	T.LIST_FLAG = '0' AND T.CHECK_STATE >= '0' 
		 	<if test="query_busi_organ != null">
	            AND T.BANKCODE IN
	            <foreach item="organ" index="index" collection="query_busi_organ" open="(" separator="," close=")">
	            #{organ}
	            </foreach>
	        </if>
	        <if test="branch_organ != null and branch_organ != ''">
	        	AND T.BANKCODE IN(SELECT ORGAN_NO FROM SM_ORGAN_PARENT_TB WHERE PARENT_ORGAN = #{branch_organ,jdbcType=VARCHAR})
	        </if>
		 	<if test="armsStartDate != null and armsStartDate != '' ">
	        	AND T.PROC_DATE &gt;= #{armsStartDate,jdbcType=VARCHAR}
	        </if>
	        <if test="armsEndDate != null and armsEndDate != '' ">
	        	AND T.PROC_DATE &lt;= #{armsEndDate,jdbcType=VARCHAR}
	        </if>
		 </where>
		 ) T
		 GROUP BY T.BANKCODE, T.PROC_DATE, T.ENTRY_ID
  </insert>
</mapper>