<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.modelserver.mapper.MoAllIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MoAllIndexMap" type="com.sunyard.dap.modelserver.entity.MoAllIndex">
        <result column="INDEX_NAME" property="indexName"/>
        <result column="INDEX_TABLE_NAME" property="indexTableName"/>
        <result column="FIRST_CLASSIFICATION" property="firstClassification"/>
        <result column="SECOND_CLASSIFICATION" property="secondClassification"/>
        <result column="INDEX_DESCRIBE" property="indexDescribe"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INDEX_NAME
        ,INDEX_TABLE_NAME, FIRST_CLASSIFICATION, SECOND_CLASSIFICATION, INDEX_DESCRIBE
    </sql>

    <select id="serachIndexName" resultType="String">
        select INDEX_NAME
        from MO_ALL_INDEX
        <trim prefix="where" prefixOverrides="and">
            <if test="params.FIRST_CLASSIFICATION != null">
                FIRST_CLASSIFICATION = #{params.FIRST_CLASSIFICATION}
            </if>
            <if test="params.SECOND_CLASSIFICATION != null">
                and SECOND_CLASSIFICATION = #{params.SECOND_CLASSIFICATION}
            </if>
        </trim>
    </select>

    <select id="searchTellerOperation" resultType="java.util.HashMap">
        select TELLER_NO,to_char(OPERATION_TIME,'yyyymmdd hh:mi:ss') OPERATION_TIME,TELLER_NAME,OPERATION_NAME
        from MO_TELLER_SELFBUSI_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.ORGAN_NO != null">
                ORGAN_NO = #{params.ORGAN_NO}
            </if>
            <if test="params.TELLER_NO != null">
                and TELLER_NO = #{params.TELLER_NO}
            </if>
        </trim>
    </select>

    <select id="searchTellerCusMoney" resultType="java.util.HashMap">
        select to_char( BUSI_DATE, 'yyyyMMdd' ) BUSI_DATE,
        to_char( BUSI_DATE, 'hh:mi:ss' ) BUSI_TIME,
        BUSI_ACCOUNT,
        BUSI_ACCOUNTNAME,
        BUSI_AMOUNT
        from MO_TELLER_SELFBUSI_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.ORGAN_NO != null">
                ORGAN_NO = #{params.ORGAN_NO}
            </if>
            <if test="params.BUSI_AMOUNT != null">
                and (BUSI_AMOUNT = #{params.BUSI_AMOUNT} OR ( BUSI_ACCOUNT IN (
                SELECT BUSI_ACCOUNT FROM MO_TELLER_CUS_MONEY_TB
                where ORGAN_NO = #{params.ORGAN_NO}

                GROUP BY BUSI_ACCOUNT
                HAVING SUM( BUSI_AMOUNT ) >= #{params.BUSI_AMOUNT} ) ) )
            </if>
        </trim>
    </select>


</mapper>
