<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.ars.file.dao.scan.ScanEcmMapper">

  <select id="getBatchIdandInputDate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT DISTINCT BTB.BATCH_ID,BTB.INPUT_DATE FROM FL_FLOW_TB FLT
		INNER JOIN BP_TMPDATA_1_TB BTD ON BTD.SERIAL_NO=FLT.LSERIAL_NO
		INNER JOIN BP_TMPBATCH_TB BTB ON BTB.BATCH_ID=BTD.BATCH_ID
	  <where>
	  	<if test="occurDate != null and occurDate != ''">
	  		 FLT.OCCUR_DATE=#{occurDate,jdbcType=VARCHAR}
	  	</if>
	  	<if test="flowId != null and flowId != ''">
	  		 AND FLT.FLOW_ID=#{flowId,jdbcType=VARCHAR}
	  	</if>
	  	<if test="siteNo != null and siteNo != ''">
	  		 AND FLT.SITE_NO=#{siteNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="operatorNo != null and operatorNo != ''">
	  		AND FLT.OPERATOR_NO=#{operatorNo,jdbcType=VARCHAR}
	  	</if>
	  </where>
  </select>

  <!-- 增加主件的附件  tw.batch_id=re.batch_id and tw.primary_inccodein=re.inccodein_batch
  
		SELECT DISTINCT T.FILE_NAME,T.BACK_FILE_NAME FROM FL_FLOW_TB FLT 
		LEFT JOIN BP_TMPDATA_1_TB T ON FLT.LSERIAL_NO=T.SERIAL_NO
		WHERE FLT.FLOW_ID=#{flowId,jdbcType=VARCHAR} AND T.BATCH_ID=#{batchId,jdbcType=VARCHAR}
   -->
  <select id="getFileNamesList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    
   SELECT T.FILE_NAME,T.BACK_FILE_NAME,T.INCCODEIN_BATCH FROM  BP_TMPDATA_1_TB T 
     WHERE T.BATCH_ID=#{batchId,jdbcType=VARCHAR} 
     AND EXISTS(SELECT 1 FROM FL_FLOW_TB FLT WHERE FLT.LSERIAL_NO=T.SERIAL_NO  AND FLT.FLOW_ID=#{flowId,jdbcType=VARCHAR})
    UNION ALL 
   SELECT TALL.FILE_NAME,TALL.BACK_FILE_NAME,TALL.INCCODEIN_BATCH FROM (
    SELECT TW.FILE_NAME,TW.BACK_FILE_NAME,TW.INCCODEIN_BATCH FROM BP_TMPDATA_1_TB TW JOIN
    (        
     SELECT T.BATCH_ID,T.INCCODEIN_BATCH,T.PRIMARY_INCCODEIN FROM  BP_TMPDATA_1_TB T 
     WHERE T.BATCH_ID=#{batchId,jdbcType=VARCHAR} 
     AND EXISTS(SELECT 1 FROM FL_FLOW_TB FLT WHERE FLT.LSERIAL_NO=T.SERIAL_NO  AND FLT.FLOW_ID=#{flowId,jdbcType=VARCHAR})
    ) RE   ON TW.BATCH_ID=RE.BATCH_ID AND TW.PRIMARY_INCCODEIN=RE.INCCODEIN_BATCH  ORDER BY INCCODEIN_BATCH ASC
   ) TALL 
  </select>	
	<!-- 	获取华夏影像系统IP httpPort 等 -->
  <select id="getImageIPConfig"  parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT IP IP,HTTP_PORT HTTPPORT,SOCKET_PORT SOCKETPORT FROM SM_IMG_ORGCONFIG A
	    LEFT JOIN BIZ_TRANSLIST B ON B.LANUCH_BRANCHNO = #{siteNo,jdbcType=VARCHAR}
	    WHERE A.WORKCENTER_NO = B.CENTER_NO  AND ROWNUM=1
  </select>	
  
  <select id="getFileNames" parameterType="java.lang.String" resultType="java.lang.String">
  	SELECT BI.FILE_NO FROM BIZ_IMAGE BI LEFT JOIN BIZ_IMAGE_METADATA BIM ON BIM.FILE_NO=BI.FILE_NO WHERE BI.DOC_ID=#{batchNo,jdbcType=VARCHAR}
  </select>	
</mapper>