<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ... sql -->

<mapper namespace="com.sunyard.ars.system.dao.monitor.MonitorModuleDao" >
	
	<!-- 查询...信息 -->
	<select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${select_sql}
	</select>
	<!-- 查询1 -->
	<select id="select1" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${select_sql1}
	</select>
	<!-- 查询2 -->
	<select id="select2" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${select_sql2}
	</select>
	<!-- 查询3 -->
	<select id="select3" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${select_sql3}
	</select>
	<!-- 查询4 -->
	<select id="select4" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${select_sql4}
	</select>
	<!-- 预警信息查询 -->
	<select id="selectWarn" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		${warn_sql}
	</select>
	<!-- 调用存储过程 -->
  	<select id="callProcedure" statementType="CALLABLE" parameterType="HashMap">
  		{call ${sql}}
  	</select>
  	
  	 <!--执行对应SQL语句-->
    <select id="getValueBySearchBarSql" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        ${sql}
    </select>
</mapper>