<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ... sql -->

<mapper namespace="com.sunyard.ars.system.dao.monitor.MrModuleDao" >
	
	<!-- 查询...信息 -->
	<select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select a.*<!-- ,b.user_name --> from sm_menu_tb a <!-- ,sm_users_tb b --> where a.bank_no = #{bank_no} and
		a.system_no = #{system_no} and a.project_no = #{project_no}
		and lower(a.menu_url) like '%.json'
		<!-- and a.menu_type in ('4','5')  and a.is_lock = b.user_no-->
		<if test="bean.menu_name != '' and bean.menu_name != null">
			and a.menu_name = #{bean.menu_name}
		</if>
		<if test="menu_type != '' and menu_type != null">
			and a.menu_type = #{menu_type}
		</if>
		<if test="bean.is_lock != '' and bean.is_lock != null">
			and a.is_lock like CONCAT(CONCAT('%',#{bean.is_lock}),'%')
		</if>
		<if test="start_date != '' and start_date != null">
			and a.last_modi_date &gt;= #{start_date}
		</if>
		<if test="end_date != '' and end_date != null">
			and a.last_modi_date &lt;= #{end_date}
		</if>
		order by menu_name
	</select>
	<update id="upload" parameterType="java.util.HashMap">
		update sm_menu_tb set menu_desc = #{bean.menu_desc} ,is_lock = #{bean.is_lock},
		last_modi_date = #{bean.last_modi_date} where menu_id = #{bean.menu_id}
	</update>


	<select id="selectCount" parameterType="com.sunyard.cop.IF.mybatis.pojo.Menu" resultType="int">
		select count(*) from
		sm_menu_tb where menu_url = #{menuUrl} and menu_type = #{menuType}
	</select>

	<select id="selectPar" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select a.*<!-- ,b.user_name --> from sm_menu_tb a <!-- ,sm_users_tb b -->
		<where>
			<if test="bank_no != null and bank_no != '' ">
				and a.bank_no = #{bank_no}
			</if>
			<if test="system_no != null and system_no != '' ">
				and a.system_no = #{system_no}
			</if>
			<if test="project_no != null and project_no != '' ">
				and a.project_no = #{project_no}
			</if>
			<if test="menu_name != null and menu_name != '' ">
				and a.menu_name = #{menu_name}
			</if>
			<if test="menu_id != null and menu_id != '' ">
				and a.menu_id = #{menu_id}
			</if>
		</where>



	</select>
</mapper>