<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.BusiCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.BusiCountDO">
        <result column="ZONE_NO" property="zoneNo" />
        <result column="ZONE_NAME" property="zoneName" />
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="SITE_NO" property="siteNo" />
        <result column="SITE_NAME" property="siteName" />
        <result column="CHANNEL_NO" property="channelNo" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="BUSI_COUNT" property="busiCount" />
        <result column="AMOUNT" property="amount" />
        <result column="CUS_COUNT" property="cusCount" />
        <result column="RECORD_TIME" property="recordTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZONE_NO, ZONE_NAME, BRANCH_NO, BRANCH_NAME, SITE_NO, SITE_NAME, CHANNEL_NO, CHANNEL_NAME, BUSI_COUNT, AMOUNT, CUS_COUNT, TO_CHAR(RECORD_TIME,'yyyymmdd') RECORD_TIME
    </sql>

    <select id="allCount" resultType="java.util.HashMap">
        <choose>
            <when test="params.QUICK != null">
                select sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
                from DM_BUSI_COUNT_ALL_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
            </when>
            <otherwise>
                select  COUNT(TASK_ID) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT
                from DM_BUSI_DETAIL_HISTORY_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.CHANNEL_NO != null">
                        and CHANNEL_NO = #{params.CHANNEL_NO}
                    </if>
                    <if test="params.ROLE_NO != null">
                        and ROLE_NO = #{params.ROLE_NO}
                    </if>
                    <if test="params.CUS_TYPE != null">
                        and CUS_TYPE = #{params.CUS_TYPE}
                    </if>
                    <if test="params.BUSI_NO != null">
                        and BUSI_NO = #{params.BUSI_NO}
                    </if>
                    <if test="params.STYPE_NO != null">
                        and STYPE_NO = #{params.STYPE_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and CREATE_TIME <![CDATA[ >= ]]> to_date(#{params.START_TIME},'yyyy-mm-dd') and CREATE_TIME <![CDATA[ <= ]]> to_date(#{params.END_TIME},'yyyy-mm-dd')
                    </if>
                </trim>
            </otherwise>
        </choose>
    </select>

    <select id="allDaily" resultType="java.util.HashMap">
        <choose>
            <when test="params.QUICK != null">
                select
                BUSI_COUNT,
                AMOUNT,
                CUS_COUNT,
                to_char(record_time,'yyyymmdd') RECORD_TIME
                FROM
                DM_BUSI_COUNT_ALL_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                order by RECORD_TIME
            </when>
            <otherwise>
                select
                sum( BUSI_COUNT ) BUSI_COUNT,
                sum( AMOUNT ) AMOUNT,
                sum( CUS_COUNT ) CUS_COUNT,
                to_char(record_time,'yyyymmdd') RECORD_TIME
                FROM
                DM_BUSI_COUNT_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.CHANNEL_NO != null">
                        and CHANNEL_NO = #{params.CHANNEL_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                GROUP BY
                record_time
                order by RECORD_TIME
            </otherwise>
        </choose>
    </select>

    <select id="branchDaily" resultType="java.util.HashMap">
        <choose>
            <when test="params.QUICK != null">
                select
                BRANCH_NO,
                BRANCH_NAME,
                BUSI_COUNT,
                AMOUNT,
                CUS_COUNT,
                to_char(record_time,'yyyymmdd') RECORD_TIME
                FROM
                DM_BUSI_COUNT_BRANCH_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                order by RECORD_TIME
            </when>
            <otherwise>
                select
                BRANCH_NO,
                BRANCH_NAME,
                sum( BUSI_COUNT ) BUSI_COUNT,
                sum( AMOUNT ) AMOUNT,
                sum( CUS_COUNT ) CUS_COUNT,
                to_char(record_time,'yyyymmdd') RECORD_TIME
                FROM
                DM_BUSI_COUNT_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.CHANNEL_NO != null">
                        and CHANNEL_NO = #{params.CHANNEL_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                GROUP BY
                BRANCH_NO,
                BRANCH_NAME,
                record_time
                order by RECORD_TIME
            </otherwise>
        </choose>
    </select>

    <select id="siteDaily" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select
            SITE_NO,
            SITE_NAME,
            BUSI_COUNT,
            AMOUNT,
            CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_SITE_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
            </trim>
            order by RECORD_TIME
        </when>
        <otherwise>
            select
            SITE_NO,
            SITE_NAME,
            sum( BUSI_COUNT ) BUSI_COUNT,
            sum( AMOUNT ) AMOUNT,
            sum( CUS_COUNT ) CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.BRANCH_NO != null">
                    BRANCH_NO = #{params.BRANCH_NO}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
                <if test="params.CHANNEL_NO != null">
                    and CHANNEL_NO = #{params.CHANNEL_NO}
                </if>
                <if test="params.START_TIME != null and params.END_TIME != null">
                    and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
            </trim>
            GROUP BY
            SITE_NO,
            SITE_NAME,
            record_time
            order by RECORD_TIME
        </otherwise>
      </choose>
    </select>

    <select id="zoneDaily" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select
            ZONE_NO,
            ZONE_NAME,
            BUSI_COUNT,
            AMOUNT,
            CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_ZONE_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
            </trim>
            order by RECORD_TIME
        </when>
        <otherwise>
            select
            ZONE_NO,
            ZONE_NAME,
            sum( BUSI_COUNT ) BUSI_COUNT,
            sum( AMOUNT ) AMOUNT,
            sum( CUS_COUNT ) CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.BRANCH_NO != null">
                    BRANCH_NO = #{params.BRANCH_NO}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
                <if test="params.CHANNEL_NO != null">
                    and CHANNEL_NO = #{params.CHANNEL_NO}
                </if>
                <if test="params.START_TIME != null and params.END_TIME != null">
                    and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
            </trim>
            GROUP BY
            ZONE_NO,
            ZONE_NAME,
            record_time
            order by RECORD_TIME
        </otherwise>
      </choose>
    </select>

    <select id="channelDaily" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select
            CHANNEL_NO,
            CHANNEL_NAME,
            BUSI_COUNT,
            AMOUNT,
            CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_CHANNEL_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.CHANNEL_NO != null">
                    and CHANNEL_NO = #{params.CHANNEL_NO}
                </if>
            </trim>
            order by RECORD_TIME
        </when>
        <otherwise>
            select
            CHANNEL_NO,
            CHANNEL_NAME,
            sum( BUSI_COUNT ) BUSI_COUNT,
            sum( AMOUNT ) AMOUNT,
            sum( CUS_COUNT ) CUS_COUNT,
            to_char(record_time,'yyyymmdd') RECORD_TIME
            FROM
            DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.BRANCH_NO != null">
                    BRANCH_NO = #{params.BRANCH_NO}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
                <if test="params.CHANNEL_NO != null">
                    and CHANNEL_NO = #{params.CHANNEL_NO}
                </if>
                <if test="params.START_TIME != null and params.END_TIME != null">
                    and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
            </trim>
            GROUP BY
            CHANNEL_NO,
            CHANNEL_NAME,
            record_time
            order by RECORD_TIME
        </otherwise>
      </choose>
    </select>

    <select id="allMonthly" resultType="java.util.HashMap">
        select sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.START_TIME != null and params.END_TIME != null">
                month between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by month
        order by MONTH
    </select>

    <select id="branchMonthly" parameterType="map" resultType="java.util.HashMap">
        select  BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and month between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by month,BRANCH_NO,BRANCH_NAME
        order by MONTH
    </select>
    <select id="siteMonthly" resultType="java.util.HashMap">
        select  SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and month between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by month,SITE_NO,SITE_NAME
        order by MONTH
    </select>
    <select id="zoneMonthly" resultType="java.util.HashMap">
        select  ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and month between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by month,ZONE_NO,ZONE_NAME
        order by MONTH
    </select>
    <select id="channelMonthly" resultType="java.util.HashMap">
        select  CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and month between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by month,CHANNEL_NO,CHANNEL_NAME
        order by MONTH
    </select>

    <select id="branchCount" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
            from DM_BUSI_COUNT_BRANCH_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.BRANCH_NO != null">
                    and BRANCH_NO = #{params.BRANCH_NO}
                </if>
            </trim>
            group by branch_no,branch_name
            order by BUSI_COUNT desc
        </when>
        <otherwise>
        select BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by branch_no,branch_name
        order by BUSI_COUNT desc
        </otherwise>
      </choose>
    </select>
    <select id="zoneCount" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
            from DM_BUSI_COUNT_ZONE_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
            </trim>
            group by ZONE_NO,ZONE_NAME
            order by BUSI_COUNT desc
        </when>
        <otherwise>
        select ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and record_time between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by ZONE_NO,ZONE_NAME
        order by BUSI_COUNT desc
        </otherwise>
      </choose>
    </select>
    <select id="siteCount" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
            from DM_BUSI_COUNT_SITE_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
            </trim>
            group by SITE_NO,SITE_NAME
            order by BUSI_COUNT desc
        </when>
        <otherwise>
        select SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by SITE_NO,SITE_NAME
        order by BUSI_COUNT desc
        </otherwise>
      </choose>

    </select>
    <select id="channelCount" resultType="java.util.HashMap">
      <choose>
        <when test="params.QUICK != null">
            select CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
            from DM_BUSI_COUNT_CHANNEL_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
                </if>
                <if test="params.CHANNEL_NO != null">
                    and CHANNEL_NO = #{params.CHANNEL_NO}
                </if>
            </trim>
            group by CHANNEL_NO,CHANNEL_NAME
            order by BUSI_COUNT desc
        </when>
        <otherwise>
        select CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        group by CHANNEL_NO,CHANNEL_NAME
        order by BUSI_COUNT desc
        </otherwise>
      </choose>
    </select>
    <select id="branchRank" resultType="java.util.HashMap">
        select ACOUNT_NAME,ACOUNT_TYPE,BUSI_NAME,ACOUNT_BUSI_COUNT
        from DM_ACOUNT_TB
    </select>
    <select id="operateCost" resultType="java.util.HashMap">
        select BUSI_TYPE,OPERATION_TIME,OPERATION_COUNT,OPERATION_CENTER_NAME
        from DM_OPERATE_COST_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BUSI_TYPE != null">
                BUSI_TYPE = #{params.BUSI_TYPE}
            </if>
            <if test="params.OPERATION_CENTER_NAME != null">
                and OPERATION_CENTER_NAME = #{params.OPERATION_CENTER_NAME}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and OPERATION_TIME between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        order by OPERATION_TIME
    </select>

    <select id="branchBusiDetails" resultType="java.util.HashMap">
        select SITE_NAME,SITE_NO,channel_name,BUSI_COUNT,AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NAME != null">
                BRANCH_NAME = #{params.BRANCH_NAME}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_char(record_time,'yyyymmdd') between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        order by BUSI_COUNT DESC
    </select>

</mapper>
