<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.BusiCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.BusiCountDO">
        <result column="ZONE_NO" property="zoneNo" />
        <result column="ZONE_NAME" property="zoneName" />
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="SITE_NO" property="siteNo" />
        <result column="SITE_NAME" property="siteName" />
        <result column="CHANNEL_NO" property="channelNo" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="BUSI_COUNT" property="busiCount" />
        <result column="AMOUNT" property="amount" />
        <result column="CUS_COUNT" property="cusCount" />
        <result column="RECORD_TIME" property="recordTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZONE_NO, ZONE_NAME, BRANCH_NO, BRANCH_NAME, SITE_NO, SITE_NAME, CHANNEL_NO, CHANNEL_NAME, BUSI_COUNT, AMOUNT, CUS_COUNT, TO_CHAR(RECORD_TIME,'yyyymmdd') RECORD_TIME
    </sql>

    <select id="listByTime" resultType="java.util.HashMap">
        select sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
    </select>

    <select id="listBranch" resultType="java.util.HashMap">
        select
        BRANCH_NO,
        BRANCH_NAME,
        sum( BUSI_COUNT ) BUSI_COUNT,
        sum( AMOUNT ) AMOUNT,
        sum( CUS_COUNT ) CUS_COUNT,
        to_char(record_time,'yyyymmdd') RECORD_TIME
        FROM
        DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        GROUP BY
        BRANCH_NO,
        BRANCH_NAME,
        record_time
        order by RECORD_TIME
    </select>

    <select id="listSite" resultType="java.util.HashMap">
        select
        SITE_NO,
        SITE_NAME,
        sum( BUSI_COUNT ) BUSI_COUNT,
        sum( AMOUNT ) AMOUNT,
        sum( CUS_COUNT ) CUS_COUNT,
        to_char(record_time,'yyyymmdd') RECORD_TIME
        FROM
        DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        GROUP BY
        SITE_NO,
        SITE_NAME,
        record_time
        order by RECORD_TIME
    </select>

    <select id="listZone" resultType="java.util.HashMap">
        select
        ZONE_NO,
        ZONE_NAME,
        sum( BUSI_COUNT ) BUSI_COUNT,
        sum( AMOUNT ) AMOUNT,
        sum( CUS_COUNT ) CUS_COUNT,
        to_char(record_time,'yyyymmdd') RECORD_TIME
        FROM
        DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        GROUP BY
        ZONE_NO,
        ZONE_NAME,
        record_time
        order by RECORD_TIME
    </select>

    <select id="listChannel" resultType="java.util.HashMap">
        select
        CHANNEL_NO,
        CHANNEL_NAME,
        sum( BUSI_COUNT ) BUSI_COUNT,
        sum( AMOUNT ) AMOUNT,
        sum( CUS_COUNT ) CUS_COUNT,
        to_char(record_time,'yyyymmdd') RECORD_TIME
        FROM
        DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        GROUP BY
        CHANNEL_NO,
        CHANNEL_NAME,
        record_time
        order by RECORD_TIME
    </select>

    <select id="listMonthly" resultType="java.util.HashMap">
        select * from DM_BUSI_COUNT_MONTHLY_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.START_TIME != null and params.END_TIME != null">
                to_date(MONTH,'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
    </select>

    <select id="listBranchMonthly" parameterType="map" resultType="java.util.HashMap">
        select  BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(MONTH,'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
        group by MONTH,BRANCH_NO,BRANCH_NAME
        order by MONTH
    </select>
b
    <select id="listSiteMonthly" resultType="java.util.HashMap">
        select  SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(MONTH,'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
        group by MONTH,SITE_NO,SITE_NAME
        order by MONTH
    </select>
    <select id="listZoneMonthly" resultType="java.util.HashMap">
        select  ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(MONTH,'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
        group by MONTH,ZONE_NO,ZONE_NAME
        order by MONTH
    </select>
    <select id="listChannelMonthly" resultType="java.util.HashMap">
        select  CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT,MONTH
        from DM_BUSI_COUNT_MONTHLY_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(MONTH,'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
        group by MONTH,CHANNEL_NO,CHANNEL_NAME
        order by MONTH
    </select>
    <select id="countBranch" resultType="java.util.HashMap">
        select BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by branch_no,branch_name
    </select>
    <select id="countZone" resultType="java.util.HashMap">
        select ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by ZONE_NO,ZONE_NAME
    </select>
    <select id="countSite" resultType="java.util.HashMap">
        select SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by SITE_NO,SITE_NAME
    </select>
    <select id="countChannel" resultType="java.util.HashMap">
        select CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(record_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by CHANNEL_NO,CHANNEL_NAME
    </select>


</mapper>
