<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.BusiRtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.BusiRtDO">
        <result column="ZONE_NO" property="zoneNo" />
        <result column="ZONE_NAME" property="zoneName" />
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="SITE_NO" property="siteNo" />
        <result column="SITE_NAME" property="siteName" />
        <result column="CHANNEL_NO" property="channelNo" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="BUSI_COUNT" property="busiCount" />
        <result column="AMOUNT" property="amount" />
        <result column="CUS_COUNT" property="cusCount" />
        <result column="RECORD_TIME" property="recordTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZONE_NO, ZONE_NAME, BRANCH_NO, BRANCH_NAME, SITE_NO, SITE_NAME, CHANNEL_NO, CHANNEL_NAME, BUSI_COUNT, AMOUNT, CUS_COUNT, RECORD_TIME
    </sql>
    <select id="listHRT" resultType="java.util.HashMap">
        select count(*) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT,count(distinct CUS_NO) CUS_COUNT,to_char(CREATE_TIME,'hh24') RECORD_TIME
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(CREATE_TIME,'hh24'),'hh24')
                between to_date(#{params.START_TIME},'hh24')
                and to_date(#{params.END_TIME},'hh24')
            </if>
        </trim>
        group by to_char(CREATE_TIME,'hh24')
        order by RECORD_TIME
    </select>
    <select id="listBranchHRT" resultType="java.util.HashMap">
        select BRANCH_NO,BRANCH_NAME,count(*) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT,count(distinct CUS_NO) CUS_COUNT,to_char(CREATE_TIME,'hh24') RECORD_TIME
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(CREATE_TIME,'hh24'),'hh24')
                between to_date(#{params.START_TIME},'hh24')
                and to_date(#{params.END_TIME},'hh24')
            </if>
        </trim>
        group by to_char(CREATE_TIME,'hh24'),BRANCH_NO,BRANCH_NAME
        order by RECORD_TIME
    </select>
    <select id="listZoneHRT" resultType="java.util.HashMap">
        select ZONE_NO,ZONE_NAME,count(*) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT,count(distinct CUS_NO) CUS_COUNT,to_char(CREATE_TIME,'hh24') RECORD_TIME
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(CREATE_TIME,'hh24'),'hh24')
                between to_date(#{params.START_TIME},'hh24')
                and to_date(#{params.END_TIME},'hh24')
            </if>
        </trim>
        group by to_char(CREATE_TIME,'hh24'),ZONE_NO,ZONE_NAME
        order by RECORD_TIME
    </select>
    <select id="listSiteHRT" resultType="java.util.HashMap">
        select SITE_NO,SITE_NAME,count(*) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT,count(distinct CUS_NO) CUS_COUNT,to_char(CREATE_TIME,'hh24') RECORD_TIME
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(CREATE_TIME,'hh24'),'hh24')
                between to_date(#{params.START_TIME},'hh24')
                and to_date(#{params.END_TIME},'hh24')
            </if>
        </trim>
        group by to_char(CREATE_TIME,'hh24'),SITE_NO,SITE_NAME
        order by RECORD_TIME
    </select>
    <select id="listChannelHRT" resultType="java.util.HashMap">
        select CHANNEL_NO,CHANNEL_NAME,count(*) BUSI_COUNT,sum(TRANS_AMOUNT) AMOUNT,count(distinct CUS_NO) CUS_COUNT,to_char(CREATE_TIME,'hh24') RECORD_TIME
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(CREATE_TIME,'hh24'),'hh24')
                between to_date(#{params.START_TIME},'hh24')
                and to_date(#{params.END_TIME},'hh24')
            </if>
        </trim>
        group by to_char(CREATE_TIME,'hh24'),CHANNEL_NO,CHANNEL_NAME
        order by RECORD_TIME
    </select>
    <select id="listDRT" resultType="java.util.HashMap">
        select sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_RT_TB
    </select>
    <select id="listBranchDRT" resultType="java.util.HashMap">
        select BRANCH_NO,BRANCH_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_RT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
        </trim>
        group by BRANCH_NO,BRANCH_NAME
    </select>
    <select id="listZoneDRT" resultType="java.util.HashMap">
        select ZONE_NO,ZONE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_RT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
        </trim>
        group by ZONE_NO,ZONE_NAME
    </select>
    <select id="listSiteDRT" resultType="java.util.HashMap">
        select SITE_NO,SITE_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_RT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
        </trim>
        group by SITE_NO,SITE_NAME
    </select>
    <select id="listChannelDRT" resultType="java.util.HashMap">
        select CHANNEL_NO,CHANNEL_NAME,sum(BUSI_COUNT) BUSI_COUNT,sum(AMOUNT) AMOUNT,sum(CUS_COUNT) CUS_COUNT
        from DM_BUSI_RT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
        </trim>
        group by CHANNEL_NO,CHANNEL_NAME
    </select>

    <select id="listByState" resultType="java.util.HashMap">
        select TASK_ID,BUSI_NAME,STAFF_NAME,TRANS_STATE
        from DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.STATE != null">
                and TRANS_STATE = #{params.STATE}
            </if>
            <choose>
                <when test="params.LIMIT != null">
                    and rownum &lt;= #{params.LIMIT}
                </when>
                <otherwise>
                    and rownum &lt;= 10
                </otherwise>
            </choose>
        </trim>

    </select>
    <select id="countState" resultType="java.util.HashMap">
        SELECT TRANS_STATE,COUNT(*) BUSI_COUNT FROM DM_BUSI_DETAIL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO !=null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
        </trim>
        GROUP BY TRANS_STATE
    </select>


</mapper>
