<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.ChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.ChannelGradeDO">
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="CHANNEL_NO" property="channelNo" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="BUSI_SCORE" property="busiScore" />
        <result column="QUALITY_SCORE" property="qualityScore" />
        <result column="SATIS_SCORE" property="satisScore" />
        <result column="SUCCESS_RATE" property="successRate" />
        <result column="COVER_RATE" property="coverRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BRANCH_NO, BRANCH_NAME, CHANNEL_NO, CHANNEL_NAME, BUSI_SCORE, QUALITY_SCORE, SATIS_SCORE, SUCCESS_RATE, COVER_RATE
    </sql>
    <select id="findEleAllRplRate" resultType="java.util.HashMap">
        select ELE_COUNT,trunc(ELE_COUNT/decode(COUNT,0,1,COUNT)*100) ELE_REPLACE_RATE
        from (
            SELECT SUM(BUSI_COUNT) COUNT FROM DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    RECORD_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
                </if>
            </trim>
        ),
        (
            SELECT SUM(BUSI_COUNT) ELE_COUNT FROM DM_BUSI_COUNT_TB
            WHERE CHANNEL_NO &lt;&gt; 'CH000'
            <if test="params.START_TIME != null and params.END_TIME != null">
               and RECORD_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        )
    </select>

    <select id="listEleRplRateByBranch" resultType="java.util.HashMap">
        select a.BRANCH_NO,a.BRANCH_NAME,ELE_COUNT,trunc(ELE_COUNT/decode(COUNT,0,1,COUNT)*100) ELE_REPLACE_RATE
        from (
            SELECT BRANCH_NO,BRANCH_NAME,SUM(BUSI_COUNT) COUNT FROM DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    RECORD_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
                </if>
            </trim>
            group by BRANCH_NO,BRANCH_NAME
        )a
        full join (
            SELECT BRANCH_NO,BRANCH_NAME,SUM(BUSI_COUNT) ELE_COUNT FROM DM_BUSI_COUNT_TB
            WHERE CHANNEL_NO &lt;&gt; 'CH000'
            <if test="params.START_TIME != null and params.END_TIME != null">
                and RECORD_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
            group by BRANCH_NO,BRANCH_NAME
        ) b
        on a.BRANCH_NO = b.BRANCH_NO
        order by ELE_REPLACE_RATE desc
    </select>

    <select id="listEleAllRplRateDaily" resultType="java.util.HashMap">
        select *
        from DM_ELE_RPLRATE_DAILY_TB
        <trim prefix="where" prefixOverrides="and">
          <if test="params.START_TIME != null and params.END_TIME != null">
              RECORD_TIME between #{params.START_TIME} and#{params.END_TIME}
        </if>
        </trim>
    </select>

    <select id="listEleAllRplRateMonthly" resultType="java.util.HashMap">
        select ELE_COUNT,trunc(ELE_COUNT/decode(COUNT,0,1,COUNT)*100) ELE_REPLACE_RATE,a.MONTH
        from (
            SELECT MONTH,SUM(BUSI_COUNT) COUNT FROM DM_BUSI_COUNT_MONTHLY_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    month between #{params.START_TIME} and #{params.END_TIME}
                </if>
            </trim>
            group by month
        ) a
        join (
            SELECT MONTH,SUM(BUSI_COUNT) ELE_COUNT FROM DM_BUSI_COUNT_MONTHLY_TB
            WHERE CHANNEL_NO &lt;&gt; 'CH000'
            <if test="params.START_TIME != null and params.END_TIME != null">
                and month between #{params.START_TIME} and #{params.END_TIME}
            </if>
            group by month
        ) b
        on a.month = b.month
        order by month
    </select>

    <select id="listEleGradeByChannel" resultType="java.util.HashMap">
        select * from DM_CHANNEL_GRADE_TB
        where CHANNEL_NO &lt;&gt; 'CH000'
        <if test="params.BRANCH_NO != null">
            and BRANCH_NO = #{params.BRANCH_NO}
        </if>
    </select>

    <select id="listEleSatisByChannel" resultType="java.util.HashMap">
        select CHANNEL_NO,CHANNEL_NAME,SATIS_SCORE from DM_CHANNEL_GRADE_TB
        where CHANNEL_NO &lt;&gt; 'CH000'
        <if test="params.BRANCH_NO != null">
            and BRANCH_NO = #{params.BRANCH_NO}
        </if>
        order by to_number(SATIS_SCORE) desc
    </select>

    <select id="listEleRplRateByChannel" resultType="java.util.HashMap">
        select CHANNEL_NO,CHANNEL_NAME,
            <if test="params.QUICK != null">
                sum(REPLACE_RATE)/count(1) as count
            </if>
            <if test="params.BRANCH_NO != null">
                REPLACE_RATE
            </if>
        from DM_CHANNEL_ELE_RPL_RATE_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
        </trim>
        <if test="params.QUICK != null">
            GROUP BY CHANNEL_NO,CHANNEL_NAME
        </if>
    </select>

    <select id="listCusCountByChannel" resultType="java.util.HashMap">
        SELECT CHANNEL_NO,CHANNEL_NAME,COUNT,AVG_COUNT from DM_CHANNEL_CUS_TB
        where CHANNEL_NO &lt;&gt; 'CH000'
        <if test="params.BRANCH_NO != null">
            and BRANCH_NO = #{params.BRANCH_NO}
        </if>
    </select>

    <select id="listChannelAmountRate" resultType="java.util.HashMap">
        select CHANNEL_NAME,SUM( AMOUNT ) AMOUNT,
        round(SUM( AMOUNT ) /(SELECT AMOUNT
        FROM (select SUM( AMOUNT ) AMOUNT
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.record_time != null">
                and to_char( record_time, 'yyyymmdd' ) BETWEEN #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        GROUP BY rollup ( CHANNEL_NAME )
        ORDER BY AMOUNT DESC)
        WHERE ROWNUM = 1) * 100,3) AMOUNT_RATE
        from DM_BUSI_COUNT_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.record_time != null">
                and to_char( record_time, 'yyyymmdd' ) BETWEEN #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        GROUP BY
        CHANNEL_NAME
        ORDER BY
        AMOUNT DESC
    </select>

</mapper>
