<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.IDmBusiSiteVMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.common.entity.DmBusiSiteV">
        <result column="SITE_NO" property="siteNo" />
        <result column="SITE_NAME" property="siteName" />
        <result column="BUSI_COUNT" property="busiCount" />
        <result column="AMOUNT" property="amount" />
        <result column="CUS_COUNT" property="cusCount" />
        <result column="RECORD_TIME" property="recordTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SITE_NO, SITE_NAME, BUSI_COUNT, AMOUNT, CUS_COUNT, RECORD_TIME
    </sql>

</mapper>
