<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.MacMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.MacDO">
        <result column="MAC_NO" property="macNo" />
        <result column="MAC_MODEL" property="macModel" />
        <result column="ZONE_NO" property="zoneNo" />
        <result column="ZONE_NAME" property="zoneName" />
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="SITE_NO" property="siteNo" />
        <result column="SITE_NAME" property="siteName" />
        <result column="REPAIR_TIMES" property="repairTimes" />
        <result column="LAST_REPAIR_TIME" property="lastRepairTime" />
        <result column="STATUS" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MAC_NO, MAC_MODEL, ZONE_NO, ZONE_NAME, BRANCH_NO, BRANCH_NAME, SITE_NO, SITE_NAME, REPAIR_TIMES, LAST_REPAIR_TIME, STATUS
    </sql>
    <select id="listStatus" resultType="java.util.HashMap">
        select count(*) COUNT,STATUS from DM_MAC_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.MAC_MODEL != null">
                and MAC_MODEL = #{params.MAC_MODEL}
            </if>
        </trim>
        group by status
    </select>

    <select id="listFaultByTime" resultType="java.util.HashMap">
        select count(*) FAULT_COUNT, count(DISTINCT(t1.MAC_NO)) FAULT_MAC_COUNT
        from DM_MAC_REPAIR_TB t1 join DM_MAC_TB t2
        on t1.MAC_NO = t2.MAC_NO
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                t2.BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and t2.SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and t2.ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.MAC_MODEL != null">
                and t2.MAC_MODEL = #{params.MAC_MODEL}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(t1.fault_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
    </select>
    <select id="listDetail" resultType="java.util.HashMap">
        select t1.* , t2.mac_model,t2.zone_no,t2.zone_name,t2.branch_no,t2.branch_name,t2.site_no,t2.site_name
        from DM_MAC_REPAIR_TB t1 join DM_MAC_TB t2
        on t1.MAC_NO = t2.MAC_NO
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                t2.BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and t2.SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and t2.ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.MAC_MODEL != null">
                and t2.MAC_MODEL = #{params.MAC_MODEL}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(t1.fault_time,'yyyymmdd'),'yyyymmdd') between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
    </select>
    <select id="listBranchFaultRate" resultType="java.util.HashMap">
        select round(nvl(t2.fault_count,0)/t1.mac_count*100,3) FAULT_RATE,t1.BRANCH_NO,t1.BRANCH_NAME from (
                (select COUNT(MAC_NO) mac_count,BRANCH_NO,BRANCH_NAME
                 from DM_MAC_TB
                 group by BRANCH_NO,BRANCH_NAME) t1 left join
                        (select COUNT(MAC_NO) fault_count,BRANCH_NO,BRANCH_NAME
                         from DM_MAC_TB
                         where STATUS = '2'
                         group by BRANCH_NO,BRANCH_NAME) t2
                        on t1.branch_no = t2.branch_no)
        order by FAULT_RATE desc
    </select>
    <select id="listBranchOnlineMac" resultType="java.util.HashMap">
        select BRANCH_NO,BRANCH_NAME,count(*) COUNT,count(decode(STATUS,'1',1,null)) ONLINE_COUNT
        from DM_MAC_TB group by BRANCH_NO, BRANCH_NAME
        order by ONLINE_COUNT desc
    </select>
    <select id="listBranchMacFaultCount" resultType="java.util.HashMap">
        select a.BRANCH_NO,a.BRANCH_NAME,nvl(b.repair_times,0) FAULT_TIMES from
         (select BRANCH_NO,BRANCH_NAME from SM_BANKS_TB group by BRANCH_NO, BRANCH_NAME) a left join
              (select BRANCH_NO,BRANCH_NAME,COUNT(r.REPAIR_ETIME) repair_times
                from  DM_MAC_REPAIR_TB r join  DM_MAC_TB m
                on m.MAC_NO = r.MAC_NO
                <trim prefix="where" prefixOverrides="and">
                  <if test="params.START_TIME != null and params.END_TIME != null">
                    r.FAULT_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
                  </if>
                </trim>
                group by BRANCH_NO,BRANCH_NAME) b
                on a.branch_no = b.branch_no
        order by FAULT_TIMES DESC
    </select>
    <select id="listBranchMacReplaceRate" resultType="java.util.HashMap">
        select BRANCH_NO,BRANCH_NAME,round(c1/c2*100,2) REPLACE_RATE
        from (
             select  BRANCH_NO,BRANCH_NAME,count(decode(CHANNEL_NO,'CH005',1,NULL)) c1,count(decode(CHANNEL_NO,'CH000',1,null)) c2
             from DM_BUSI_COUNT_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.START_TIME != null and params.END_TIME != null">
                    RECORD_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
                </if>
            </trim>
            group by BRANCH_NO,BRANCH_NAME
             )
        order by replace_rate desc
    </select>
    <select id="listMacReplaceRateMonthly" resultType="java.util.HashMap">
        select MONTH,round(c1/c2*100,2) REPLACE_RATE
        from (
            select  MONTH,count(decode(CHANNEL_NO,'CH005',1,NULL)) c1,count(decode(CHANNEL_NO,'CH000',1,null)) c2
            from DM_BUSI_COUNT_MONTHLY_TB
            group by month
          )
        <trim prefix="where" prefixOverrides="and">
            <if test="params.START_TIME != null and params.END_TIME != null">
                MONTH between #{params.START_TIME} and #{params.END_TIME}
            </if>
        </trim>
        order by  MONTH
    </select>
    <select id="macProtrayal" resultType="java.util.HashMap">
        select COUNT,ONLINE_COUNT,trunc(ONLINE_COUNT/COUNT*100) ONLINE_RATE,TRUNC(100-FAULT_COUNT/COUNT*100) USABLE_COUNT
        FROM (
            select count(*) COUNT,count(decode(STATUS,'1',1,null)) ONLINE_COUNT,count(decode(STATUS,'2',1,null)) FAULT_COUNT
            from DM_MAC_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.BRANCH_NO != null">
                    BRANCH_NO = #{params.BRANCH_NO}
                </if>
                <if test="params.SITE_NO != null">
                    and SITE_NO = #{params.SITE_NO}
                </if>
                <if test="params.ZONE_NO != null">
                    and ZONE_NO = #{params.ZONE_NO}
                </if>
            </trim>
          )
    </select>
    <select id="listMacTypeCount" resultType="java.util.HashMap">
        select MAC_TYPE,count(*) COUNT from DM_MAC_BRAND_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
        group by MAC_TYPE
    </select>
    <select id="listMacTypeAssess" resultType="java.util.HashMap">
        select * from DM_MACTYPE_ASSESS_V
    </select>
    <select id="listMacTypeFaultRate" resultType="java.util.HashMap">
        select MAC_TYPE,SUM(REPAIR_TIMES) COUNT
        from DM_MAC_BRAND_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
        group by MAC_TYPE
    </select>
    <select id="listMacBrandFaultRate" resultType="java.util.HashMap">
        select MAC_BRAND,SUM(REPAIR_TIMES) COUNT
        FROM DM_MAC_BRAND_V
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
        GROUP BY MAC_BRAND
    </select>
    <select id="listMacReplaceOtcRateMonthly" resultType="java.util.HashMap">
        select round(b.busi_count/a.busi_count*100,2) CARD_RATE,round(c.busi_count/a.busi_count*100,2) PAY_COUNT,a.MONTH
        from (
                (
                select sum(BUSI_COUNT) busi_count, month
                from DM_BUSI_COUNT_MONTHLY_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and month <![CDATA[ >= ]]> #{params.START_TIME} and month <![CDATA[ <= ]]> #{params.END_TIME}
                    </if>
                </trim>
                group by month
              ) a join
                (
                select sum(BUSI_COUNT) busi_count, to_char(to_date(RECORD_TIME, 'yyyymmdd'), 'yyyymm') month
                from DM_MAC_BUSI_TB
                <trim prefix="where" prefixOverrides="and">
                    MAC_TYPE = '自助发卡机'
                    <if test="params.BRANCH_NO != null">
                        and BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and to_char(to_date(RECORD_TIME,'yyyymmdd'),'yyyymm') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                group by to_char(to_date(RECORD_TIME, 'yyyymmdd'), 'yyyymm')) b on a.month = b.month join
                (
                select sum(BUSI_COUNT) busi_count, to_char(to_date(RECORD_TIME, 'yyyymmdd'), 'yyyymm') month
                from DM_MAC_BUSI_TB
                <trim prefix="where" prefixOverrides="and">
                    MAC_TYPE = '自助缴款机'
                    <if test="params.BRANCH_NO != null">
                        and BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                    <if test="params.SITE_NO != null">
                        and SITE_NO = #{params.SITE_NO}
                    </if>
                    <if test="params.ZONE_NO != null">
                        and ZONE_NO = #{params.ZONE_NO}
                    </if>
                    <if test="params.START_TIME != null and params.END_TIME != null">
                        and to_char(to_date(RECORD_TIME,'yyyymmdd'),'yyyymm') between #{params.START_TIME} and #{params.END_TIME}
                    </if>
                </trim>
                group by to_char(to_date(RECORD_TIME, 'yyyymmdd'), 'yyyymm')) c on b.month = c.month
                )
        order by MONTH
    </select>
    <select id="listMacTypeBusiMonthly" resultType="java.util.HashMap">
        select count(decode(MAC_TYPE,'自助发卡机',1,null)) CARD_COUNT,count(decode(MAC_TYPE,'自助查询机',1,null)) SEARCH_COUNT,
               count(decode(MAC_TYPE,'自助存取款机',1,null)) CASH_COUNT,count(decode(MAC_TYPE,'自助缴款机',1,null)) PAY_COUNT,
               to_char(to_date(RECORD_TIME,'yyyymmdd'),'yyyymm') MONTH
        from DM_MAC_BUSI_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
            <if test="params.START_TIME != null and params.END_TIME != null">
                and to_date(to_char(to_date(RECORD_TIME,'yyyymmdd'),'yyyymm'),'yyyymm') between to_date(#{params.START_TIME},'yyyymm') and to_date(#{params.END_TIME},'yyyymm')
            </if>
        </trim>
        group by to_char(to_date(RECORD_TIME,'yyyymmdd'),'yyyymm')
        order by MONTH
    </select>
    <select id="listMacTypeSuccessAndFaultRate" resultType="java.util.HashMap">
        select a.MAC_TYPE,round(e.busi_count/a.BUSI_COUNT*100,2) error_rate,100-round(e.busi_count/a.BUSI_COUNT*100,2) success_rate
        from (
             select v.mac_type,count(*) busi_count
             from DM_BUSI_DETAIL_ERROR_TB t
             join DM_MAC_BRAND_V v on t.MAC_NO = v.MAC_NO
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                t.BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and t.SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and t.ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
             group by v.mac_type) e
                 join (
                      select MAC_TYPE,sum(busi_count) BUSI_COUNT
                      from DM_MAC_BUSI_TB
                    <trim prefix="where" prefixOverrides="and">
                        <if test="params.BRANCH_NO != null">
                            BRANCH_NO = #{params.BRANCH_NO}
                        </if>
                        <if test="params.SITE_NO != null">
                            and SITE_NO = #{params.SITE_NO}
                        </if>
                        <if test="params.ZONE_NO != null">
                            and ZONE_NO = #{params.ZONE_NO}
                        </if>
                    </trim>
                      group by MAC_TYPE) a
                     on e.mac_type = a.MAC_TYPE
    </select>
    <select id="listMacMaintainMonthly" resultType="java.util.HashMap">
        select count(decode(MAC_TYPE,'自助发卡机',1,null)) card_count,count(decode(MAC_TYPE,'自助查询机',1,null)) search_count,
               count(decode(MAC_TYPE,'自助存取款机',1,null)) cash_count,count(decode(MAC_TYPE,'自助缴款机',1,null)) pay_count,
               to_char(to_date(MAINTAIN_TIME,'yyyymmdd'),'yyyymm') month
        from DM_MAC_MAINTAIN_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
        group by to_char(to_date(MAINTAIN_TIME,'yyyymmdd'),'yyyymm')
        order by month
    </select>
    <select id="listMacMaintainSuccessRateMonthly" resultType="java.util.HashMap">
        select count(decode(MAC_TYPE,'自助发卡机',1,null)) card_count,count(decode(MAC_TYPE,'自助查询机',1,null)) search_count,
        count(decode(MAC_TYPE,'自助存取款机',1,null)) cash_count,count(decode(MAC_TYPE,'自助缴款机',1,null)) pay_count,
        to_char(to_date(MAINTAIN_TIME,'yyyymmdd'),'yyyymm') month
        from DM_MAC_MAINTAIN_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.SUCCESS != null">
                and SUCCESS = #{params.SUCCESS}
            </if>
        </trim>
        group by to_char(to_date(MAINTAIN_TIME,'yyyymmdd'),'yyyymm')
        order by month
    </select>
    <select id="listMacTypeBusiCount" resultType="java.util.HashMap">
        select MAC_TYPE,sum(BUSI_COUNT) BUSI_COUNT
        from DM_MAC_BUSI_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
        group by MAC_TYPE order by BUSI_COUNT desc
    </select>
    <select id="listMacBusiCount" resultType="java.util.HashMap">
        select MAC_NO,sum(BUSI_COUNT) BUSI_COUNT
        from DM_MAC_BUSI_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.SITE_NO != null">
                and SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.ZONE_NO != null">
                and ZONE_NO = #{params.ZONE_NO}
            </if>
        </trim>
        group by MAC_NO
        order by BUSI_COUNT desc
    </select>


    <select id="listSiteFaultCount" resultType="java.util.HashMap">
        select a.SITE_NO,a.SITE_NAME,nvl(b.repair_times,0) FAULT_TIMES from
        (select SITE_NO,SITE_NAME,BRANCH_NO from SM_BANKS_TB group by SITE_NO, SITE_NAME,BRANCH_NO) a left join
        (select SITE_NO,SITE_NAME,COUNT(r.REPAIR_ETIME) repair_times
        from  DM_MAC_REPAIR_TB R join  DM_MAC_TB M
        on m.MAC_NO = r.MAC_NO
        <trim prefix="where" prefixOverrides="and">
            <if test="params.START_TIME != null and params.END_TIME != null">
                R.FAULT_TIME between to_date(#{params.START_TIME},'yyyymmdd') and to_date(#{params.END_TIME},'yyyymmdd')
            </if>
        </trim>
        group by SITE_NO,SITE_NAME) b
        on a.SITE_no = b.SITE_no
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                a.BRANCH_NO = #{params.BRANCH_NO}
            </if>
        </trim>
        order by FAULT_TIMES DESC
    </select>
    <select id="listSiteFaultRate" resultType="java.util.HashMap">
        select round(nvl(t2.fault_count,0)/t1.mac_count*100,3) FAULT_RATE,t1.SITE_NO,t1.SITE_NAME from (
                (select COUNT(MAC_NO) mac_count,SITE_NO,SITE_NAME
                 from DM_MAC_TB
                <trim prefix="where" prefixOverrides="and">
                    <if test="params.BRANCH_NO != null">
                        BRANCH_NO = #{params.BRANCH_NO}
                    </if>
                </trim>
                 group by SITE_NO,SITE_NAME) t1 left join
                        (select COUNT(MAC_NO) fault_count,SITE_NO,SITE_NAME
                         from DM_MAC_TB
                         where STATUS = '2'
                         group by SITE_NO,SITE_NAME) t2
                        on t1.SITE_no = t2.SITE_no)
        order by FAULT_RATE desc
    </select>

    <select id="listSiteMacDetails" resultType="java.util.HashMap">
        select SITE_NAME,SITE_NO,count(*) COUNT,count(decode(STATUS,'1',1,null)) ONLINE_COUNT
        ,round(nvl(count(decode(STATUS,'1',1,null)),0)/count(*)*100,3) ONLINE_RATE
        from DM_MAC_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.BRANCH_NO != null">
                BRANCH_NO = #{params.BRANCH_NO}
            </if>
            <if test="params.BRANCH_NAME != null">
                and BRANCH_NAME = #{params.BRANCH_NAME}
            </if>
            <if test="params.SITE_NAME != null">
                and SITE_NAME like '%'||#{params.SITE_NAME}||'%'
            </if>
        </trim>
        group by SITE_NO,SITE_NAME
        order by ONLINE_COUNT desc
    </select>

</mapper>
