<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dap.dataserve.mapper.SiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunyard.dap.dataserve.entity.SiteDO">
        <id column="SITE_NO" property="siteNo" />
        <result column="ZONE_NO" property="zoneNo" />
        <result column="ZONE_NAME" property="zoneName" />
        <result column="BRANCH_NO" property="branchNo" />
        <result column="BRANCH_NAME" property="branchName" />
        <result column="SITE_NAME" property="siteName" />
        <result column="PRESIDENT" property="president" />
        <result column="VICE_PRESIDENT" property="vicePresident" />
        <result column="ADDR" property="addr" />
        <result column="TEL" property="tel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZONE_NO, ZONE_NAME, BRANCH_NO, BRANCH_NAME, SITE_NO, SITE_NAME, PRESIDENT, VICE_PRESIDENT, ADDR, TEL
    </sql>
    <select id="listBaseInfo" resultType="java.util.HashMap">
        select SITE_NO,SITE_NAME,PRESIDENT,VICE_PRESIDENT,ADDR,TEL
        from SM_BANKS_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
        </trim>

    </select>

    <select id="listSiteGrade" resultType="java.util.HashMap">
        select  a.*,b.rank from DM_ORGAN_GRADE_TB a
            join (
                 select SITE_NO,rank() over (order by score desc ) rank
                 from DM_ORGAN_GRADE_TB) b
                on a.SITE_NO = b.SITE_NO
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                a.SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
    </select>

    <select id="listTransStatus" resultType="java.util.HashMap">
        select COUNT,HIGH_COUNT,LOW_COUNT,decode(SUCCESS_COUNT,0,0,round(SUCCESS_COUNT/(SUCCESS_COUNT+ROLLBACK_COUNT+ERROR_COUNT)*100,2)) SUCCESS_RATE,
               decode(ERROR_COUNT,0,0,round(ERROR_COUNT/(SUCCESS_COUNT+ROLLBACK_COUNT+ERROR_COUNT)*100,2)) ERROR_RATE,
               decode(ROLLBACK_COUNT,0,0,round(ROLLBACK_COUNT/(SUCCESS_COUNT+ROLLBACK_COUNT+ERROR_COUNT)*100,2)) ROLLBACK_RATE
        from
             (
             select count(TASK_ID) ERROR_COUNT
             from DM_BUSI_DETAIL_ERROR_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.SITE_NO != null">
                    SITE_NO = #{params.SITE_NO}
                </if>
            </trim>
        ) e,
             (
             select count(decode(TRANS_STATE,'5',1,null)) SUCCESS_COUNT,count(decode(TRANS_STATE,'4',1,null)) ROLLBACK_COUNT
             from DM_BUSI_DETAIL_HISTORY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
             ) d,(
          select count(decode(CHANNEL_NO,'CH000',1,NULL)) COUNT,count(decode(ROLE_NO,'1',1,null)) HIGH_COUNT,count(decode(ROLE_NO,'2',1,null)) LOW_COUNT
          FROM DM_BUSI_DETAIL_HISTORY_TB
            <trim prefix="where" prefixOverrides="and">
                <if test="params.SITE_NO != null">
                    SITE_NO = #{params.SITE_NO}
                </if>
            </trim>
            ) c
    </select>

    <select id="listHallInfo" resultType="java.util.HashMap">
        select * from DM_ORGAN_HALL_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
    </select>

    <select id="listCashInfo" resultType="java.util.HashMap">
        select * from DM_ORGAN_CASH_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
        order by HOUR

    </select>
    <select id="listQueHourly" resultType="java.util.HashMap">
        select * from DM_ORGAN_QUE_HOUR_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
        </trim>
        order by HOUR
    </select>
    <select id="listMacBusiTypeCountHourly" resultType="java.util.HashMap">
        select BUSI_NO, BUSI_NAME, count(*) COUNT, to_char(CREATE_TIME, 'hh24') HOUR
        from DM_BUSI_DETAIL_HISTORY_TB
        <trim prefix="where" prefixOverrides="and">
            <if test="params.SITE_NO != null">
                SITE_NO = #{params.SITE_NO}
            </if>
            <if test="params.CHANNEL_NO != null">
                and CHANNEL_NO = #{params.CHANNEL_NO}
            </if>
            <if test="params.BUSI_NO != null">
                and BUSI_NO = #{params.BUSI_NO}
            </if>
            <if test="params.BRANCH_NO != null">
                and BRANCH_NO = #{params.BRANCH_NO}
            </if>
        </trim>
        group by BUSI_NO, BUSI_NAME, to_char(CREATE_TIME, 'hh24')
        order by HOUR
    </select>

</mapper>
