<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="com.sunyard.ars.system.dao.sc.IAccnoLifeCircleMapper" >
	  <!-- 查询 -->
	  <select id="select" resultType="java.util.HashMap" parameterType="java.util.HashMap"  >
	  	SELECT TA.* FROM(
		    SELECT T.BRANCH_NO, T.ORGAN_NAME, T.CUST_NO, T.ACCT_NO, T.SHORT_NAME, T.CURR_STATUS, 
		    T.CURR_STATUS_DES,  T.ACCT_TYPE, T.INT_CAT, T.CHQ_PASWD_TYPE, T.CHQ_PASWD_TYPE_DES,
		     T.CURR_BAL,  T.ACCT_OPEN_DT, T.TD_HOLD_DATE, T.HOLD_VAL, T.LST_FIN_DT
  			FROM V_ACCT_CYCLE_INFO_LIST T  WHERE 0 = 0
			  <if  test="(startTime != null and startTime !='') or (endTime!=null and endTime!='')">  
			 	AND EXISTS (SELECT * FROM V_ARMS_ACCT_CYCLE_INFO VI WHERE T.ACCT_NO = VI.ACCT 
				     <if  test="startTime != null and startTime !=''">  
				     	AND VI.TRANSDATE &gt;= #{startTime} 
				    </if>
				     	<if  test="endTime != null and endTime !=''">  
				    	 AND VI.TRANSDATE &lt;= #{endTime}
				      </if>
				       )
			   </if>
				<if  test="Bean.branchNo != null and Bean.branchNo !='' ">  
	  				 AND INSTR((SELECT C.PARENT_ORGAN FROM SM_ORGAN_TB C WHERE C.ORGAN_NO = T.BRANCH_NO), #{Bean.branchNo}) > 0
				</if>
				<if  test="Bean.intCat != null and Bean.intCat !='' ">
    				AND int_cat LIKE  LIKE CONCAT('%',CONCAT(#{Bean.intCat},'%'))
				</if>
				<if test="Bean.shortName != null and Bean.shortName !='' ">
					AND short_name LIKE CONCAT('%',CONCAT(#{Bean.shortName},'%'))
				</if>
				<if test="Bean.chqPaswdType != null and Bean.chqPaswdType !='' ">
				    AND chq_paswd_type =  #{Bean.chqPaswdType}
				</if>
				<if test="Bean.acctNo != null and Bean.acctNo !='' ">
				    AND acct_no = #{Bean.acctNo}
				</if>
				<if test="Bean.custNo != null and Bean.custNo !='' ">
					AND cust_no = #{Bean.custNo}
				</if>	
				 <if test="Bean.currStatus != null and Bean.currStatus !='' ">
					AND curr_status=#{Bean.currStatus ,jdbcType=INTEGER}
				</if>	
   					ORDER BY T.BRANCH_NO, T.CUST_NO, T.ACCT_NO) TA
   					
	  </select>
	  
	  <!-- 查询证件信息 -->
	   <select id="selectCardInfo" resultType="java.util.HashMap" parameterType="java.lang.String"  >
	   		  SELECT 
			       ROWNUM SEQ,
			       T.CUST_NO,
			       S.REMARK ID_TYPE,
			       T.ID_NUMBER,
			       TO_CHAR(TO_VALID_DATE(T.ID_EXPIRY_DATE), 'YYYYMMDD') ID_EXPIRY_DATE,
			       TO_CHAR(TO_VALID_DATE(T.ID_EFFECT_DATE), 'YYYYMMDD') ID_EFFECT_DATE
			  FROM CUID T, ARMS_CSB_ID_01 S
			  WHERE SUBSTR(T.ID_TYPE, 3, 2) = S.ID_TYPE(+)  AND T.CUST_NO = #{str}
	    </select>
	    
	    <!-- 人员信息 -->
	     <select id="selectPsersonInfo" resultType="java.util.HashMap" parameterType="java.lang.String"  >
	   		  SELECT T.CUST_NO,
			        T.CONTACT_1,
			        T.PHONE_NO_1,
			        T.CONTACT_2,
			        T.PHONE_NO_2,
			        S.REMARK BOIS_ID_TYPE,
			        T.BOIS_ID_NO,
			        T.BOSS_NAME,
       				 TO_CHAR(TO_VALID_DATE(T.BOIS_ID_EXP_DT), 'YYYYMMDD') EXPIRY_DATE
  			 FROM CUSVD4 T, ARMS_CSB_ID_01 S
 			 WHERE T.BOIS_ID_TYPE = S.ID_TYPE(+)
    				AND T.CUST_NO =#{str}
	    </select>
	    
	   <!-- 签约信息 -->
       <select id="selectSignInfo" resultType="java.util.HashMap" parameterType="java.lang.String"  >
		SELECT T.ACCT_NO,
		       T.CUSTOMER_NO,
		       T.AGRMNT_FLAG,
		       T.AGMT_CODE,
		       T.REMARK,
		       T.DESCRIPTION,
		       T.LAST_MAINT_DATE
		  FROM V_ACCT_CYCLE_AGMT T
		 WHERE T.ACCT_NO = #{str}
		 ORDER BY T.LAST_MAINT_DATE 
    </select>
    
  <!--   账户冻结信息   -->
     <select id="selectAcctNoDJInfo" resultType="java.util.HashMap" parameterType="java.lang.String"  >
		 SELECT T.* FROM V_ACCT_INFO_FREZ T WHERE T.ACCT_NO = #{str}
    </select>
    
   <!-- 强行划扣信息 -->
     <select id="selectForceHQInfo" resultType="java.util.HashMap" parameterType="java.lang.String"  >
		   SELECT T.*
	       FROM V_ACCT_INCT_ALL_9047 T
	       WHERE T.ACCT_NO = #{str}
	       ORDER BY T.TRAN_DATE, T.SYSTEM_TIME
    </select>
    
      <select id="selectSeeData" resultType="java.util.HashMap" parameterType="java.util.HashMap"  >
      		SELECT
      			 T.* 
      		FROM V_ARMS_ACCT_CYCLE_INFO T
      		WHERE 0 = 0
     		<if test="acctNo != null and acctNo !='' ">
			     AND T.ACCT =  #{acctNo}
			</if>
			<if test="startTime != null and startTime !='' ">
			   <![CDATA[
			     AND  T.TRANSDATE >=#{startTime}
			    ]]>   
			</if>
			<if test="endTime != null and endTime !='' ">
				<![CDATA[
			     AND T.TRANSDATE <=  #{endTime}
			   ]]>
			</if>
			<if test="field != null and field !='' ">
			     AND T.FIELD_ID = #{field}
			</if>
    </select>
</mapper>