<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.ars.system.dao.brss.ResuperviseMapper" >
	
	<select  id="selectCurrentTypeInfo" resultType="java.util.HashMap" >
		SELECT KEY_NAME value, KEY_DESCRIBE name 
		FROM SM_GLOBAL_SET_TB 
		WHERE SECTION_NAME='CURRENTTYPE'
	</select>
	
	<delete id="deleteBrssTempSampleByUserNo" parameterType="String">
		DELETE FROM BRSS_TEMP_SAMPLE_TB WHERE USER_NO = #{userNo}
	</delete>
	
	<select id="selectFlowIdByConfig" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		
		SELECT FLOW_ID FROM(
			<foreach collection="batchMap.keys" item="dataTb" separator="union all" >
				SELECT FLOW_ID FROM ${dataTb} sample(${per})
				WHERE BATCH_ID IN (
					select REGEXP_SUBSTR('${batchMap[dataTb]}','[^,]+',1,ROWNUM)
					FROM DUAL CONNECT BY ROWNUM <![CDATA[ <= ]]> 
					LENGTH('${batchMap[dataTb]}') - LENGTH(REGEXP_REPLACE('${batchMap[dataTb]}',',','')) +1
				)
				AND PS_LEVEL = '1' AND CHECK_FLAG = '1' AND FLOW_ID IS NOT NULL AND LENGTH(TRIM(FLOW_ID)) >0 
				AND TRIM(FLOW_ID) <![CDATA[<>]]> '0'
			</foreach>
		)
	</select>
	
	
	<insert id="insertToBrssTempSample" parameterType="java.util.Map" >
		INSERT INTO BRSS_TEMP_SAMPLE_TB
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sampleId != null and sampleId != '' ">
				SAMPLE_ID,
			</if>
			<if test="flowId != null and flowId != '' ">
				FLOW_ID,
			</if>
			<if test="userNo != null and userNo != '' ">
				USER_NO,
			</if>
			<if test="lastModifyTime != null and lastModifyTime != '' ">
				LAST_MODIFY_TIME,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sampleId != null and sampleId != '' ">
				#{sampleId},
			</if>
			<if test="flowId != null and flowId != '' ">
				#{flowId},
			</if>
			<if test="userNo != null and userNo != '' ">
				#{userNo},
			</if>
			<if test="lastModifyTime != null and lastModifyTime != '' ">
				#{lastModifyTime},
			</if>
		</trim>
		
	</insert>
	
	
	
	
	
	<select id="selectImageBySomeFlow" parameterType="java.util.Map" resultType="java.util.Map">
    select E.* from (
    <foreach collection="dataTableList" index="index" item="dataTable" open="" separator="union" close="">
 	SELECT B.SERIAL_NO,B.SELF_DELETE,B.COPY_INCCODEIN,B.PATCH_FLAG,'${dataTable}' DATA_TB,B.CHECK_FLAG,B.ERROR_FLAG,
    B.BACK_FILE_NAME,B.FILE_NAME,B.FORM_NAME,B.INCCODEIN_BATCH,B.BATCH_ID, A.SITE_NO,A.OCCUR_DATE,A.OPERATOR_NO,B.FLOW_ID,A.INPUT_DATE
    FROM ${dataTable} B join ${batchTable} A on B.BATCH_ID = A.BATCH_ID
	<where>
		 AND B.SELF_DELETE = '0' AND B.PS_LEVEL = '1' AND A.PROGRESS_FLAG &lt; 99 AND A.IS_INVALID = '1'
		 <if test="form_name != null and form_name != ''">
		 	 AND B.FORM_NAME =#{form_name,jdbcType=VARCHAR}
		 </if>
		 <if test="businessId != null and businessId != ''">
		 	 AND A.BUSINESS_ID =#{businessId,jdbcType=DECIMAL}
		 </if>
		 <if test="needProcess != null and needProcess != ''">
		 	 AND A.NEED_PROCESS =#{needProcess,jdbcType=VARCHAR}
		 </if>
		 AND A.IS_INVALID = '1'
		 <if test=" operatorNo != null and operatorNo != ''">
		 	 AND A.OPERATOR_NO =#{operatorNo,jdbcType=VARCHAR}
		 </if>
		 <if test="siteNo != null and siteNo != ''">
		 	 AND A.SITE_NO =#{siteNo,jdbcType=VARCHAR}
		 </if>
		 <if test="startDate != null and startDate != ''">
		 	 AND A.OCCUR_DATE &gt;=#{startDate,jdbcType=VARCHAR}
		 </if>
		 <if test="endDate != null and endDate != ''">
		 	 AND A.OCCUR_DATE &lt;=#{endDate,jdbcType=VARCHAR}
		 </if>
		 and exists (select 1 from 
		 <if test="dataTable.indexOf('HIS') != -1">
		 	${hisFlowTable}
		 </if>
		 <if test="dataTable.indexOf('HIS') == -1">
		 	${flowTable}
		 </if>
		  f where f.lserial_no = b.serial_no 
		  <if test="currency_type != null and currency_type != ''">
		 	 and f.CURRENCY_TYPE =#{currency_type,jdbcType=VARCHAR}
		 </if>
		 <if test="acctNo != null and acctNo != ''">
		 	 and f.ACCOUNT =#{acctNo,jdbcType=VARCHAR}
		 </if>
		 <if test="vouhNo != null and vouhNo != ''">
		 	 and f.VOUH_NO =#{vouhNo,jdbcType=VARCHAR}
		 </if>
		 <if test="subject_no != null and subject_no != ''">
		 	 and f.SUBJECT_NO =#{subject_no,jdbcType=VARCHAR}
		 </if>
		 <if test="tx_code != null and tx_code != ''">
		 	 and f.TX_CODE =#{tx_code,jdbcType=VARCHAR}
		 </if>
		 <if test="amountS != null and amountS != ''">
		 	 and f.AMOUNT &gt;=#{amountS,jdbcType=DECIMAL}
		 </if>
		 <if test="amountE != null and amountE != ''">
		 	 and f.AMOUNT &lt;=#{amountE,jdbcType=DECIMAL}
		 </if>
		 <if test="flow_id != null and flow_id != ''">
		 	 and f.FLOW_ID =#{flow_id,jdbcType=VARCHAR}
		 </if>
		 <if test="flowList != null and flowList.size != 0 ">
		 	 and f.FLOW_ID IN 
		 	 <foreach collection="flowList" item="flowIdl" open="(" close=")" separator=",">
		 	 	#{flowIdl,jdbcType=VARCHAR}
		 	 </foreach>
		 </if>
		 <if test="superviseDeal != null and superviseDeal != '' ">
		 	and SUPERVISE_DEAL = #{superviseDeal,jdbcType=VARCHAR}
		 </if>
		  )
	</where>
    </foreach>
	) E ORDER BY E.OCCUR_DATE,E.OPERATOR_NO,E.BATCH_ID,E.INCCODEIN_BATCH
  </select>
	

	<select id="selectBrssTempSampleByUserNo" parameterType="java.util.Map" resultType="java.util.Map">
		select SAMPLE_ID,FLOW_ID,USER_NO,LAST_MODIFY_TIME
		from BRSS_TEMP_SAMPLE_TB
		where USER_NO = #{userNo}
	</select>
	
	
	
   <select id="selectBatchInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT A.BATCH_ID, A.IMAGE_STATUS, A.PROGRESS_FLAG, A.TEMP_DATA_TABLE
    FROM ${batchTable} A
    WHERE
    	A.SITE_NO = #{siteNo,jdbcType=VARCHAR} AND
    	A.OCCUR_DATE = #{occurDate,jdbcType=VARCHAR} AND
    	A.OPERATOR_NO = #{operatorNo,jdbcType=VARCHAR}
    ORDER BY A.PROGRESS_FLAG DESC
  </select>
   	
   	<!-- 从临时数据表（$注入） 中 查询不重复的图像序号  -->
   <select id="selectImgSerialNo" parameterType="java.util.Map" resultType="String">
   		SELECT DISTINCT T2.SERIAL_NO
		FROM ( SELECT * FROM '${dataTb}' T WHERE SERIAL_NO = #{serialNo} ) T1 ,'${dataTb}' T2 
		WHERE T1.BATCH_ID=T2.BATCH_ID
		AND (T1.INCCODEIN_BATCH=T2.INCCODEIN_BATCH OR T1.INCCODEIN_BATCH=T2.PRIMARY_INCCODEIN)
   </select>
   	
   	
   	<!-- 根据流水id、柜员id、机构代号、业务日期 -->
   	<select id="selectBusiFormBySelective" parameterType="java.util.Map" resultType="java.util.Map">
   		SELECT T.* FROM ET_BUSIFORM_TB T 
		WHERE NODE_NO <![CDATA[ <> ]]> '-1'  AND 
			( 
				<!-- IS_SHARE='1' OR   CRS5.1有这个字段 -->
				NET_NO = #{siteNo} 
			)
			AND FLOW_NO = #{flowNo}
			AND NET_NO = #{siteNo}
			AND OPERATION_DATE = #{occurDate}
			AND TELLER_NO = #{operatorNo}
		ORDER BY NET_NO DESC,OPERATION_DATE DESC,WORK_DATE DESC
   	</select>
   	
   	
</mapper>